.form-select{
    padding: 0 11px;
}
@media only screen and (max-width: 767px) {
    .main-banner .info-ev .ttl .icon_star {
        top: 8px;
    }
}
.button-container{
    width: 400px;
    margin: 0 auto;
    margin-top: 25px;
}
.button-container .btn{
    cursor:pointer;
}
.float-right{
    float:right
}
.red-error,
.red-error a{
    color: red!important;
    transition: all .3s ease 0s;
}
#label-for-checkbox{
    margin-top: 10px;
    text-align: left;
}
.hashtags{
    margin-bottom: 15px;
}
.hourse-gallery .carousel-wrap .item {
    max-height: 230px;
    overflow: hidden;
}