.announcement-tabs {
  background: #EFD6C8;
  @include mq('tablet-wide', min) {
    overflow: hidden;
  }
  .slider {
    margin-bottom: 80px;
  }
  .tabs-panel-wrap {

    @include mq('tablet-wide') {
      overflow-y: hidden;
      overflow-x: scroll;
      margin-right: -115px;
    }
    @include mq('tablet') {
      margin-right: -20px;
    }
  }
  .tabs-panel {
    margin: 0 -15px;
    display: flex;
    height: 340px;
    padding-bottom: 45px;
    @include mq('tablet-wide') {
      width: 960px;
    }
    @include mq('tablet') {
      width: 920px;
      padding-bottom: 0;
      height: 300px;
    }
    .col {
      padding: 0 15px;
      width: (100-33)/3*1%;
      @include mq('tablet') {
        width: (100% - percentage(275/920))/3;
      }
      @include transition();
      &.active {
        width: 33%;
        @include mq('tablet') {
          width:  percentage(275/920);
        }
        a {
          color: #FFF;
          font-size: 48px;
          @include mq('tablet-wide') {
            min-width: 290px;
          }
          @include mq('tablet') {
            max-width: 245px;
            min-width: 245px;
          }
          &:after {
            opacity: 0;
          }
        }
      }
      &:hover {
        a {
          color: #FFF;
          &:after {
            opacity: 0;
          }
        }
      }
      a {
        border: none;
        display: block;
        position: relative;
        color: #000;
        text-transform: uppercase;
        font-size: 26px;
        font-weight: 900;
        @include mq('tablet-wide') {
          min-width: 185px;
        }
        .txt {
          width: 100%;
          left: 0;
          position: absolute;
          bottom: 24px;
          text-align: center;
          z-index: 5;
        }
        &:after {
          content: '';
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: rgba(#FFF, 0.55);
          position: absolute;
          @include transition();
        }
        img {
          display: block;
        }
      }
    }
  }
  .tabs-wrap {
    background: #F4EAE4;
    .desc {
      padding: 50px 0;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          position: relative;
          padding-left: 25px;
          &:after {
            content: '';
            top: 5px;
            left: 0;
            position: absolute;
            width: 8px;
            height: 9px;
            background:  url(../images/star.svg) 0 0 no-repeat;
          }
        }
      }
    }
  }
  .slider-wrap {
    padding-top: 5px;
    padding-left: 5px;
    border-top: 1px solid;
    border-left: 1px solid ;
    margin-bottom: 50px;
    @include mq('tablet-wide', min) {
      margin-right: -145px;
      margin-top: -50px;
    }
    @include mq('tablet') {
      margin-right: -20px;
    }
    .slider {
      max-width: 100%;
      color: #FFF;
      &:hover {
        .slick-arrow {
          opacity: 1;
        }
      }
      .slick-arrow {
        position: absolute;
        opacity: 0;
        top: 50%;
        border: none;
        background: transparent;
        height: 40px;
        width: 40px;
        transform: translateY(-50%);
        z-index: 50;
        text-indent: -999px;
        @include transition();
        overflow: hidden;
        &:after {
          width: 15px;
          height: 15px;
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
        }
        &.slick-prev {
          left: 0;
          &:after {
            border-top: 1px solid ;
            border-left: 1px solid ;
          }
        }
        &.slick-next {
          right: 0;
          &:after {
            border-bottom: 1px solid ;
            border-right: 1px solid ;
          }
        }
      }
      .slick-dots {
        position: absolute;
        height: 3px;
        top: 100%;
        display: flex;
        margin: 0;
        padding: 32px 0 0;
        list-style-type: none;
        li {
          margin-left: 10px;
          display: flex;
          align-items: flex-end;
          &.slick-active {
            button {
              height: 3px;
            }
          }
          button {
            padding: 0;
            border: none;
            height: 1px;
            width: 27px;
            display: block;
            background: $brown;
            text-indent: -9999px;
            overflow: hidden;
          }
        }
      }
      .item {
        img {
          display: block;
          width: 100%;
        }
      }
    }
  }

}
