mixin announcementTabs(data)
  .announcement-tabs&attributes(attributes)
    .container
      .tabs-panel-wrap
        .tabs-panel
          .col.active
            a(href="#tab1")
              +webp('images/anons1.jpg')
              .txt Конюшня
          .col
            a(href="#tab2")
              +webp('images/anons2.jpg')
              .txt Манеж
          .col
            a(href="#tab3")
              +webp('images/anons3.jpg')
              .txt Плац
          .col
            a(href="#tab4")
              +webp('images/anons4.jpg')
              .txt Левады
    .tabs-wrap
      #tab1.tab.is-visible
        .container
          .row
            .col-md-6.col-xs-12
              .desc
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                ul
                  li  Текст о особенности 1
                  li  Текст о особенности 2
                  li  Текст о особенности 3
                  li  Текст о особенности 4
            .col-md-6.col-xs-12
              .slider-wrap
                .slider
                  .item
                    a(href="images/slide1.jpg" data-fancybox="gallery-tab1")
                      +webp('images/slide1.jpg')
                  .item
                    a(href="images/slide1.jpg" data-fancybox="gallery-tab1")
                      +webp('images/slide1.jpg')
                  .item
                    a(href="images/slide1.jpg" data-fancybox="gallery-tab1")
                      +webp('images/slide1.jpg')
                  .item
                    a(href="images/slide1.jpg" data-fancybox="gallery-tab1")
                      +webp('images/slide1.jpg')
      #tab2.tab
        .container
          .row
            .col-md-6.col-xs-12
              .desc tab  2
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                ul
                  li  Текст о особенности 1
                  li  Текст о особенности 2
                  li  Текст о особенности 3
                  li  Текст о особенности 4
            .col-md-6.col-xs-12
              .slider-wrap
                .slider
                  .item
                    a(href="images/slide1.jpg" data-fancybox="gallery-tab2")
                      +webp('images/slide1.jpg')
                  .item
                    a(href="images/slide1.jpg" data-fancybox="gallery-tab2")
                      +webp('images/slide1.jpg')
                  .item
                    a(href="images/slide1.jpg" data-fancybox="gallery-tab2")
                      +webp('images/slide1.jpg')
                  .item
                    a(href="images/slide1.jpg" data-fancybox="gallery-tab2")
                      +webp('images/slide1.jpg')
      #tab3.tab
        .container
          .row
            .col-md-6.col-xs-12
              .desc tab 3
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                ul
                  li  Текст о особенности 1
                  li  Текст о особенности 2
                  li  Текст о особенности 3
                  li  Текст о особенности 4
            .col-md-6.col-xs-12
              .slider-wrap
                .slider
                  .item
                    a(href="images/slide1.jpg" data-fancybox="gallery-tab3")
                      +webp('images/slide1.jpg')
                  .item
                    a(href="images/slide1.jpg" data-fancybox="gallery-tab3")
                      +webp('images/slide1.jpg')
                  .item
                    a(href="images/slide1.jpg" data-fancybox="gallery-tab3")
                      +webp('images/slide1.jpg')
                  .item
                    a(href="images/slide1.jpg" data-fancybox="gallery-tab3")
                      +webp('images/slide1.jpg')
      #tab4.tab
        .container
          .row
            .col-md-6.col-xs-12
              .desc tab 4
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                ul
                  li  Текст о особенности 1
                  li  Текст о особенности 2
                  li  Текст о особенности 3
                  li  Текст о особенности 4
            .col-md-6.col-xs-12
              .slider-wrap
                .slider
                  .item
                    a(href="images/slide1.jpg" data-fancybox="gallery-tab4")
                      +webp('images/slide1.jpg')
                  .item
                    a(href="images/slide1.jpg" data-fancybox="gallery-tab4")
                      +webp('images/slide1.jpg')
                  .item
                    a(href="images/slide1.jpg" data-fancybox="gallery-tab4")
                      +webp('images/slide1.jpg')
                  .item
                    a(href="images/slide1.jpg" data-fancybox="gallery-tab4")
                      +webp('images/slide1.jpg')
