.team-container {

}
.team-list-wrap {
  position: relative;
  overflow: hidden;
  padding-bottom: 135px;
  .container {
    position: relative;
  }
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #F5EAE4;
    top: 135px;
  }
}
.team-list {
  display: flex;
  flex-flow: row wrap;
  .item {
    padding: 15px;
  }
  .box {
    position: relative;
    width: 100%;
    border: none;
    display: block;
    @include mq('tablet') {
      max-width: 210px;
      margin: 0 auto;
    }
    &:hover {
      .info {
        visibility: visible;
        opacity: 1;
      }
    }
    img {
      display: block;
      width: 100%;
    }
    .info {
      opacity: 0;
      visibility: visible;
      @include transition();
      position: absolute;
      background: rgba(45,38,33,.7);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: #FFF;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 20px;
      .name {
        font-size: 24px;
        word-break: break-word;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          padding-left: 15px;
          position: relative;
          &:after {
            content: '';
            width: 10px;
            height: 10px;
            position: absolute;
            left: 0;
            top: 5px;
            background:  url(../images/star-white.svg) 0 0 no-repeat;
          }
        }
      }
    }
  }


}
.vacancies-container {
  position: relative;
  .top {
    position: relative;
    padding-bottom: 60px;
    padding-top: 70px;
    .filter-block {
      @include mq('tablet', min) {
        margin-top: 60px;

      }
    }
    .pict {
      left: 50%;
      width: 50%;
      padding-left: 15px;
      bottom: 0;
      position: absolute;
      height: 384px;
      overflow: hidden;
      img {
        display: block;
        width: auto;
        min-width: 100%;
        min-height: 100%;
        max-width: none;
      }
      @include mq('tablet-wide') {
        height: 100%;
        left: 70%;
      }
    }
  }

}
.vacancies-list {
  .item {
    padding: 15px;
  }
  .box {
    background: #FFF;
    position: relative;
    padding: 30px;
    display: flex;
    flex-direction: column;
    @include mq('tablet') {
      padding: 30px 20px 30px 30px;
    }
    &:after,
    &:before {
      position: absolute;
      content: '';
      right: -10px;
      background: $brown;
      bottom: -10px;
    }
    &:after {
      width: 100%;
      height: 1px;
    }
    &:before {
      height: 100%;
      width: 1px;
    }

    ul {
      @extend .list-marker-star;
      margin-bottom: 25px;
    }
    .more {
      color: $brown;
      display: inline-block;
      letter-spacing: 2px;
    }
  }
}
