.page-content.team-container
  .container
    .page-title.text-center_xs
      h1 Наша команда
  mixin teamList(data)
    .team-list-wrap
      .container
        .team-list.row
          each itm in data
            .item.col-md-3.col-sm-6.col-xs-12
              a(href="worker.html").box
                +webp(itm.pict)
                .info
                  .name.upper!=itm.name
                  ul
                    each char in itm.char
                      li!=char
        .btn-wrap.text-center.mt-40.mt-20_xs
          a(href="#").btn.btn-black Смотреть еще
  +teamList([
    {
      pict: 'images/team2.jpg',
      name: 'Иванов Иван',
      char: ['Тренер высшего уровня','Чемпион России по конному спорту' ,'Опыт наездничества 30 лет']
    },
    {
      pict: 'images/team1.jpg',
      name: 'Длинноименный Длиннофмамильный',
      char: ['Тренер высшего уровня','Чемпион России по конному спорту' ,'Опыт наездничества 30 лет']
    },
    {
      pict: 'images/team3.jpg',
      name: 'Длинноименный Длиннофмамильный',
      char: ['Тренер высшего уровня','Чемпион России по конному спорту' ,'Опыт наездничества 30 лет']
    },
    {
      pict: 'images/team1.jpg',
      name: 'Длинноименный Длиннофмамильный',
      char: ['Тренер высшего уровня', 'Чемпион России по конному спорту', 'Опыт наездничества 30 лет']
    },
    {
      pict: 'images/team2.jpg',
      name: 'Иванов Иван',
      char: ['Тренер высшего уровня','Чемпион России по конному спорту' ,'Опыт наездничества 30 лет']
    },
    {
      pict: 'images/team1.jpg',
      name: 'Длинноименный Длиннофмамильный',
      char: ['Тренер высшего уровня','Чемпион России по конному спорту' ,'Опыт наездничества 30 лет']
    },
    {
      pict: 'images/team3.jpg',
      name: 'Длинноименный Длиннофмамильный',
      char: ['Тренер высшего уровня','Чемпион России по конному спорту' ,'Опыт наездничества 30 лет']
    },
    {
      pict: 'images/team1.jpg',
      name: 'Длинноименный Длиннофмамильный',
      char: ['Тренер высшего уровня', 'Чемпион России по конному спорту', 'Опыт наездничества 30 лет']
    },
  ])
  .vacancies-container
    .top
      .pict.d-none_xs
        +webp('images/pict-w.jpg')
      .container
        .page-title.text-center_xs
          .title Вакансии
        .filter-block
          a(href="#" data-filter="*").active Все
          a(href="#" data-filter=".class1") Разнорабочий
          div.w-100.d-block_xs.d-none
          a(href="#" data-filter=".class2") Бухгалтер
          a(href="#" data-filter=".class3") Конюх
    .bg-light.pt-55.pb-55
      .container
        mixin listV(data)
          .vacancies-list.row
            each itm in data
              .item.col-md-6.col-xs-12.d-flex(class=itm.class)
                .box.w-100
                  .title.fs-30.extrabold.upper!=itm.ttl
                  .ttl.upper.extrabold.fs-18.mt-20.mb-20 Обязанности
                  .desc!=itm.desc
                  .ttl.upper.extrabold.fs-18.mt-20.mb-20 Условия
                  ul.cha
                    each char in itm.char
                      li!=char
                  .more-wrap.mt-auto
                    a(href="vacancy.html").more.list.upper.lnk_reverse Подробнее >>

        +listV([
          {
            ttl: 'Разнорабочий',
            class: 'class1',
            desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. eu fugiat nulla pariatur.',
            char: ['Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit.']
          },
          {
            ttl: 'Бухгалтер',
            class: 'class2',
            desc: 'Lorem ipsum dolor sit amet,ariatur.',
            char: ['Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit.']
          },
          {
            ttl: 'Конюх',
            class: 'class3',
            desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. eu fugiat nulla pariatur.',
            char: ['Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit.']
          },
          {
            ttl: 'Разнорабочий',
            class: 'class1',
            desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. eu fugiat nulla pariatur.',
            char: ['Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
              'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
              'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
              'Lorem ipsum dolor sit amet, consectetur adipiscing elit.']
          },
          {
            ttl: 'Бухгалтер',
            class: 'class2',
            desc: 'Lorem ipsum dolor sit amet,ariatur.',
            char: ['Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
              'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
              'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
              'Lorem ipsum dolor sit amet, consectetur adipiscing elit.']
          },
          {
            ttl: 'Конюх',
            class: 'class3',
            desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. eu fugiat nulla pariatur.',
            char: ['Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
              'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
              'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
              'Lorem ipsum dolor sit amet, consectetur adipiscing elit.']
          },
        ])
