.homepage {
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  .main-banner {
    width: 100%;
    height: 100%;
    .item {
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
      min-height: calc(var(--vh, 1vh) * 100);

    }
  }
}
.page-white-container,
.private-police,
.gallery-page {
  .main-banner {
    .item {
      min-height: 500px;
      padding-bottom: 50px;
      height: auto;
      .page-title {
        > * {
          line-height: 1;
        }
      }
    }
  }
}

.gallery-page-detail {
  .main-banner {
    .item {
      min-height: 500px;
      padding-bottom: 50px;
      .back {
        margin-top: 0;
        margin-bottom: 20px;
      }
      .page-title {
        > * {
          line-height: 1;
        }
      }
    }
  }
}
body:not(.homepage) .main-banner .item {
  display: flex;
  background-attachment: fixed;
  transition: all .3s ease;
  .container {
    width: 100%;
  }
}
.main-banner {
  overflow: hidden;
  width: 100%;
  position: relative;
  color: #FFF;
  .slider > .slick-dots {
    position: absolute;
    top: 153px;
    z-index: 100;
    left: 50%;
    list-style-type: none;
    margin: 0 0 0 -594px;
    padding: 0;
    @include mq('desktop-wide-md') {
      left: 20px;
      margin: 0;
    }
    @include mq('tablet') {
      top: 120px;
    }

    li {
      width: 0;
      height: 27px;
      margin-bottom: 10px;
      border-left: 1px solid rgba(#FFF, 0.5);
      @include transition();
      &.slick-active {
        border-left: 3px solid #FFF;
        overflow: visible;

        button {
          opacity: 1;
          position: static;
        }
      }

      button {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        white-space: nowrap;
        padding: 0 0 0 13px;
        border: none;
        background: transparent;
        color: #FFF;
        font-size: 12px;
        opacity: 0;
        &:after {
          width: 27px;
          height: 100%;
          left: -13.5px;
          top: 0;
          position: absolute;
          content: '';
        }
        @include transition();

        .icon {
          font-size: 10px;
          margin: 0 5px 0 0;
        }
      }
    }
  }
  .slick-arrow {
    position: absolute;
    padding: 0;
    border: none;
    background: transparent;
    z-index: 50;
    color: #FFF;
    width: 63px;
    height: 20px;
    bottom: 80px;
    @include mq('desktop') {
      bottom: 50px;
    }

    &.slick-prev {
      right: 50%;
      margin-right: 537px;
      @include mq('desktop-wide-md') {
        right: auto;
        margin: 0;
        left: 20px;
      }
      @include mq('desktop') {
        left: 25px;
      }
      @include mq('tablet') {
        left: 20px;
      }

      svg {
        transform: rotate(180deg);
      }
    }

    &.slick-next {
      left: 50%;
      margin-left: 537px;
      @include mq('desktop-wide-md') {
        left: auto;
        right: 20px;
        margin: 0;
      }
      @include mq('desktop') {
        right: 25px;
      }
      @include mq('tablet') {
        right: 20px;
      }
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
  .filter-block {
    a {
      color: rgba(#FFF, 0.2);
      &:hover, &.active {
        color: $brown;
        background: #FFF;
      }
    }
  }
  .filter-evetns {
    @include mq('tablet') {
      justify-content: flex-start;

    }
  }
  .events-links {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    span {
      margin: 0 15px;
      width: 25px;
      height: 1px;
      background: rgba(#FFF, 0.2);
      @include mq('tablet') {
        margin: 0 5px;
        width: 20px;
      }
    }
    a {
      color: rgba(#FFF, 0.5);
      border: none;
      &:hover, &.active {
        color: #FFF;
      }
    }
  }
  .item {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 150px;
    width: 100%;
    min-width: 100%;
    overflow: hidden;
    min-height: 100vh;
    transition: background-position 0.5s ease;
    position: relative;
    &.bg-fixed {
      background-attachment: fixed;
    }
    @include mq('desktop') {
      padding-top: 120px;
    }
    @include mq('tablet') {
      background-size: auto 100%;
    }
    &:before {
      content: '';
      top: 0;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(#000, 0.3);
    }
    .container {
      position: relative;
      min-height: 100%;
      display: flex;
      flex-direction: column;
    }

    .title {
      line-height: 0.7;
      position: relative;
      &:before {
        position: absolute;
        opacity: .2;
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        content: attr(data-title);
        line-height: 0.8;
      }
      &.text-nowrap-normal {
        &:before {
          white-space: normal;
        }
      }
    }

    &.main-section {
      @include mq('tablet') {
        background-position: 30% 50%;
      }
      .subtitle {
        margin-top: auto;
        @include mq('desktop') {
          text-align: center;
        }
      }
      .title {
        padding-bottom: 183px;
        position: relative;
        font-size: 185px;
        &:before {
          position: absolute;
          bottom: 14px;
          opacity: 0.2;
          left: -40px;
          font-size: 245px;
          color: transparent;
          -webkit-text-stroke: 1px #fff;
        }

        @include mq('desktop') {
          font-size: 126px;
          text-align: center;
          padding-bottom: 55px;
          line-height: 0.8;
          &:before {
            word-wrap: break-word;
            bottom: 100%;
            width: 540px;
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: 40px;
          }
        }

        @include mq('desktop') {
          font-size: 65px;
          padding: 0 0 70px;
          &:before {
            width: 280px;
            font-size: 123px;
          }
        }
        @include mq('tablet') {
          padding-bottom: 100px;
        }
      }
    }
    .events-list {
      max-width: 465px;
      @include mq('desktop') {
        margin: 0 auto;

      }

      .ev-item {
        border: none;
        color: #FFF;
        margin-top: 50px;
        width: percentage(1/3);
        &:hover {
          .ttl {
            font-weight: 900;
          }
        }
        .date {
          font-size: 10px;
        }

        &:nth-child(1),
        &:nth-child(4n) {
          .ttl {
            &:after {
              display: none;
            }
          }
        }

        .ttl {
          font-weight: 600;
          position: relative;

          &:after {
            content: '';
            position: absolute;
            width: 30px;
            height: 1px;
            top: 10px;
            background: #FFF;
            opacity: 0.5;
            left: -40px;
          }
        }
      }
    }
    &.inner-section {
      @include mq('tablet') {
        .container {
          padding-bottom: 100px!important;
        }
      }
      .subtitle {
        & + .title {
          &:before {
            transform: translateY(-40%);
          }
        }

        @include mq('desktop') {
          text-align: center;
          & + .title {
            &:before {
              transform: translate(-40%, -50%);
            }
          }
        }
        @include mq('tablet') {
          margin-top: auto;
          & + .title {
            margin-top: 0;

            &:before {
              bottom: 110%;
              transform: translate(-50%, 0);
              top: auto;
              font-size: 123px;
              width: 250px;
              word-wrap: break-word;
            }
          }
        }
      }

      .title {
        font-size: 150px;
        line-height: 1;

        &:before {
          font-size: 300px;
          top: 50%;
          transform: translateY(-50%);
          @include mq('tablet', min) {
            white-space: nowrap;
          }
        }

        &.text-nowrap-normal {
          &:before {
            white-space: normal;
          }
        }

        @include mq('desktop') {
          font-size: 80px;
          text-align: center;
          &:before {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 135px;
          }
        }
        @include mq('tablet') {
          margin-top: auto;
          &:before {
            bottom: 100%;
            transform: translate(-50%, 0);
            top: auto;
            font-size: 123px;
            width: 250px;
            word-wrap: break-word;
          }
        }

        &.long-title {
          &:before {
            word-break: break-word;
            white-space: normal;
            transform: translateY(0);
            top: -75%;
            font-size: 275px;

          }

          @include mq('desktop') {
            &:before {
              width: 100%;
              font-size: 135px;
              top: 0;
              left: 50%;
              transform: translate(-50%, -10%);
            }
          }
          @include mq('tablet') {
            font-size: 48px;
            &:before {
              bottom: 120%;
              top: auto;
              transform: translateX(-50%);
              font-size: 120px;
            }
          }
        }
      }

      .bottom {
        position: relative;
        margin-top: auto;
        margin-bottom: 75px;
        .btn {
          @include mq('desktop', min) {
            right: 0;
            bottom: 0;
            position: absolute;
          }
          @include mq('desktop') {
            margin-top: 40px;
          }
        }

        .ttl-border {
          font-size: 24px;

          span {
            display: inline-block;
            position: relative;
            padding: 8px 40px;
            border-top: 1px solid #FFF;
            border-bottom: 1px solid #FFF;
            margin-bottom: 20px;

            &:after,
            &:before {
              content: '';
              width: 36px;
              height: 36px;
              border: 1px solid #FFF;
              transform: rotate(45deg);
              position: absolute;
              top: 7px;
            }

            &:after {
              border-right: none;
              border-top: none;
              right: -17px;
            }

            &:before {
              border-left: none;
              border-bottom: none;
              left: -17px;
            }
          }
        }
        .text {
          max-width: 607px;
        }
        @include mq('desktop') {
          text-align: center;
          margin-bottom: 25px;
        }
        @include mq('tablet') {
          padding-bottom: 0;
          bottom: 47px;
          left: 0;
          position: absolute;
          width: 100%;
          margin: 0;
        }
      }
    }

    &.team-section {
      .title {
        @include mq('tablet') {
          font-size: 65px;
        }

        &:before {
          font-size: 240px;

          @include mq('desktop') {
            font-size: 135px;

          }
          @include mq('tablet') {
            font-size: 123px;
          }
        }
      }
    }

    &.events-section {

    }

    &.gallery-section,
    &.news-section {
      .subtitle {
        @include mq('desktop') {
          & + .title:before {
            transform: translate(-50%, 0);
          }
        }
        @include mq('desktop') {
          & + .title:before {
            @include mq('tablet') {
              font-size: 96px;
              bottom: 80%;
            }
          }
        }
      }

      .title {
        &:before {
          @include mq('desktop') {
            left: 50%;
            top: -14%;
            transform: translate(-50%, 0);
          }
          @include mq('tablet') {
            font-size: 96px;
            bottom: 80%;
          }
        }
      }
    }

    &.gallery-section {
      .title {
        @include mq('desktop') {
          @include mq('tablet', min) {
            br {
              display: none;
            }
          }
        }

        &:before {
          content: 'Фото и видео';
          top: 75%;
          @include mq('desktop') {
            left: 50%;
            top: -14%;
            transform: translate(-50%, 0);
            width: 100%;
          }
          @include mq('tablet') {
            font-size: 96px;
            bottom: 70%;
            top: auto;
          }
        }
      }
    }

    &.contacts-section {
      .title {
        margin-top: auto;
        font-size: 150px;

        &:before {
          font-size: 263px;
        }

        @include mq('desktop') {
          font-size: 80px;
          margin-bottom: auto;
          margin-top: 0;
          &:before {
            font-size: 150px;
          }
        }
        @include mq('tablet') {
          margin-top: auto;
          margin-bottom: 0;
          font-size: 65px;
          &:before {
            font-size: 123px;
            width: 230px;
          }
        }
      }

      .bottom {
        margin-top: 0;
      }
    }
  }

  .info-hourse {
    padding-bottom: 140px;
    padding-top: 100px;
    margin-top: auto;
    display: flex;
    @include mq('tablet-wide') {
      flex-direction: column;
    }
    @include mq('tablet') {
      padding: 65px 0;
    }
    .itm {
      padding: 0 30px;
      position: relative;
      @include mq('tablet-wide') {
        margin-top: 20px;
        &:first-child {
          margin-top: 0;
        }
      }
      .icon_star {
        position: absolute;
        left: 0;
        top: 5px;
        width: 20px;
        height: 20px;
        @include mq('tablet') {
          top: 0;

        }
      }
      .ttl {
        font-size: 24px;
        @include mq('tablet-wide') {
          font-size: 18px;
        }
        @include mq('tablet') {
          font-size: 14px;
        }
      }
      .val {
        font-size: 48px;
        @include mq('tablet-wide') {
          font-size: 36px;
          line-height: 1.2;
        }
        @include mq('tablet') {
          font-size: 30px;
          line-height: 1;

        }
      }
    }
  }
  .page-title {
    color: inherit;
    * {
      color: inherit;
    }
  }
  .page-title {
    @include mq('tablet') {
      font-size: 30px;
      * {
        font-size: 30px;
      }
    }
  }
  .breadcrumbs {
    @include mq('tablet-wide') {
      margin-top: auto;
    }
  }
  .vacancy-area,
  .worker-area {
    max-width: 460px;
    ul {
      @extend .list-marker-star;
      margin-bottom: 30px;
      li {
        &:after {
          background:  url(../images/star-white.svg) 0 0 no-repeat;
        }
      }
    }
  }
  .back {
    border: none;
    opacity: 0.2;
    color: #FFF;
    margin-bottom: 70px;
    margin-top: 60px;
    &.back-light {
      opacity: 1;
    }
    a {
      border: none;
    }
    &:hover {
      opacity: 1;
    }
  }
  .mail, .phone {
    color: inherit;
    border:none;
    a {
      color: inherit;
      border:none;
    }
  }
  .gallery-filter {
    align-items: flex-end;
    @include mq('tablet-wide') {
      max-width: 215px;
    }
    .btn-wrap {
      margin-bottom: 30px;
    }
    .form-group {
      @include mq('tablet') {
        position: relative;
        .inp-lbl {
          @include transition();
          position: absolute;
          top: -15px;
          left:0;
        }
        &:not(.select-change ){
          .inp-lbl {
            //position: absolute;
            //width: 100%;
            //height: 100%;
            //top: 0;
            //left: 0;
            //text-transform: uppercase;
            //padding: 11px;
            //display: flex;
            //align-items: center;
            //font-size: 8px;
          }
        }
      }
    }
  }

  .events-carousel {
    .slick-dots {
      @extend .slick-dots.bordered;
      top: -25px;
      padding: 0;
      li {
        button {
          background: #FFF;
        }
      }
    }
    @include mq('tablet') {
      position: absolute;
      visibility: hidden;
      z-index: -1000;
      left: -10000000px;
    }
  }
  .info-ev {
    .itm {
      padding-left: 33px;
    }

    .ttl {
      position: relative;
      .icon_star {
        position: absolute;
        top: 8px;
        left: -33px;
        width: 20px;
        height: 20px;
      }
    }
  }
}
.page-content {
  ul {
    @extend .list-marker-star;
  }
}
.hashtags,
.tags {
  display: flex;
  flex-flow: row wrap;
  span,
  a {
    border: none;
    opacity: 0.5;
    color: inherit;
    margin-right: 20px;
    margin-bottom: 10px;
    &.active,
    &:hover {
      opacity: 1;
    }
  }
  span {
    opacity: 1;
  }
}
.signup-event {
  background: #9A7D6D;
  color: #FFF;
  @include mq('tablet-wide') {
    .ttl {
      width: 100%;
    }
  }
}
.contacts-area {
  a {
    color: inherit;
    border: none;
  }
  .info {
    padding-bottom: 40px;
    @include mq('tablet') {
      padding-left: 20px;
    }
    .itm {
      padding-left: 30px;
      .ttl {
        position: relative;
      }
      .icon_star {
        position: absolute;
        top: 0px;
        left: -33px;
        width: 15px;
        height: 15px;
      }
    }
  }
}
.hourse-page {
  .main-banner {
    .item {
      @include mq('tablet') {
        background-position: 20% 0;

      }
    }
  }
}
.hourse-page {
  .main-banner {
    .item {
      @include mq('tablet') {
        background-position: 20% 0;

      }
    }
  }
}


.main-banner {
  .item.team-section {
    @include mq('tablet') {
      background-position: 70% 0;
    }
  }
}

.main-banner {
  .item.events-section {
    @include mq('tablet') {
      background-position: 69% 0%;
    }
  }
}
.main-banner {
  .item.event-section {
    @include mq('tablet') {
      background-position: 100% 0%;
    }
  }
}
.main-banner {
  .item.news-section {
    @include mq('tablet') {
      background-position:  64% 0%;
    }
  }
}
.main-banner {
  .item.contacts-section{
    @include mq('tablet') {
      background-position: 77% 0;
      background-size: auto 100%;
    }
  }
  .item.gallery-section{
    @include mq('tablet') {
      background-position: 60% 0%;
      background-size: auto 100%;
    }
  }
}
.events-carousel-wrap {
  .slick-dots {
    @include mq('tablet') {
      justify-content: center;
      left: -10px;
      width: 100%;
    }
  }
}
.main-banner .info-ev .ttl {
  @include mq('tablet') {
    .icon_star {
      top: 0;
    }

  }
}
.page-404.inner-section  {
  .container {
    align-items: center;
    justify-content: center;
    text-align: center;
    .title {
      font-size: 150px;
      line-height: 0.4;
      @include mq('tablet') {
        margin-top: 0;
      }
      &:before {
        @include center;
        font-size:667px;
        line-height: 1;
        @include mq('desktop') {
          font-size: 500px;
        }
        @include mq('tablet-wide') {
          font-size: 500px;
        }
        @include mq('tablet') {
          font-size: 300px;
          height: 300px;
          max-width: none;
          width: auto;
          line-height: 1;
          white-space: nowrap;
          @include center;
          @include mq('phone-wide', min) {
            transform: translateX(-50%);
          }
        }
        @include mq('phone-wide') {
          font-size: 200px;
          height: 200px;
        }
      }
      span {
        font-size: 60px;
      }
    }
    .desc {
      margin-top: 90px;
      @include mq('tablet') {
        margin-top: 45px;
      }
      a {
        color: inherit;
      }
    }
  }
}
body:not(.homepage)  .main-banner .item.contacts-section {
  background-position: 22% 0;
  background-size: auto 100%;
}
.page-content {
  .hashtags {
    font-weight: bold;
    a {

    }
  }
}
html body.homepage  .main-banner .item {
  @include mq('tablet') {

  }
}
