mixin mainBanner(data)
  .main-banner&attributes(attributes)
    if pageUrl == 'homepage.html'
      button.slick-prev.slick-arrow
        +svg('arrow-right')
      button.slick-next.slick-arrow
        +svg('arrow-right')
    .slider
      each item in data.items
        .item(
          class=pageUrl == 'homepage.html'? '': 'lazy',
          class=item.class,
          data-bg=pageUrl == 'homepage.html'? '': item.bg,
          data-bg-mobile=item.bgMobile?item.bgMobile: false
          )
          if pageUrl == 'homepage.html'
            img(data-src=item.bg, alt="")
          .container
            if item.subtitle && item.subtitlePos == 'top'
              .subtitle(class=item.classSubtitle)!=item.subtitle
            if item.title
              .title.upper(class=item.classTitle, data-title=item.title)!=item.title
            if item.subtitle && !item.subtitlePos
              .subtitle(class=item.classSubtitle)!=item.subtitle
            if item.bottom
              .bottom
                if item.bottom.ttl
                  .ttl-border.d-none_xs.upper.fs-24
                    span!=item.bottom.ttl
                if item.bottom.text
                  .text.d-none_xs=item.bottom.text
                if item.bottom.events
                  .events-list.d-flex.flex-flow-row-wrap.d-none_xs
                    each itm in item.bottom.events
                      a(href="#").ev-item
                        .date!=itm.date
                        .ttl!=itm.ttl

                if item.bottom.btn
                  a(href=item.bottom.btnHref? item.bottom.btnHref: "#",  class=item.bottom.classBtn).btn!=item.bottom.btn
            if pageUrl == '404.html'
              .title.upper.extrabold(data-title='404') 404
                br
                span Ошибка
              .desc
                | Страница не найдена.
                br
                | Перейдите на
                =' '
                a(href="homepage.html") ГЛАВНУЮ
                =' '
                |страницу
            if pageUrl == 'horse.html'
              .info-hourse
                .itm
                  +svg('star')
                  .ttl.upper Кличка
                  .val.upper.extrabold Палентино
                .itm
                  +svg('star')
                  .ttl.upper  Порода
                  .val.upper.extrabold Арабский
                .itm
                  +svg('star')
                  .ttl.upper Возраст
                  .val.upper.extrabold 5 лет
            if pageUrl == 'worker.html'
              +breadcrumbs({
                items: [
                  {url: 'homepage.html', ttl: 'Главная'},
                  {url: 'team.html', ttl: 'Команда'},
                  {ttl: 'Длиннофамильный Длинноименный'},
                ]
              })
              .page-title.mb-60_xs
                h1 Имя Фамилия
              .worker-area.d-none_xs.d-none_sm
                ul
                  li Тренер высшего уровня
                  li Чемпион России по конному спорту
                  li Опыт наездничества 30 лет
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
              .back.back-light.light.upper.d-none_xs.d-none_sm
                a(href="#") << Назад к списку сотрудников
            if pageUrl == 'vacancy.html'
              +breadcrumbs({
                items: [
                  {url: 'homepage.html', ttl: 'Главная'},
                  {url: 'team.html', ttl: 'Команда'},
                  {ttl: 'Вакансия Разнорабочий'},
                ]
              })
              .page-title.mb-60_xs
                h1 Разнорабочий
              .vacancy-area.d-none_xs.d-none_sm.pb-60
                .ttl.upper.extrabold.fs-18.mt-60.mb-20 Обязанности
                .desc
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. eu fugiat nulla pariatur.
                .ttl.upper.extrabold.fs-18.mt-40.mb-20 Условия
                ul.char
                  li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                .ttl.upper.extrabold.fs-18.mt-30.mb-20 Контактное лицо
                | Александр
                .phone.bold
                  a(href="89011233344") 8 901 123 33 44
                .mail.bold
                  a(href="mailto:rabota@site.ru") rabota@site.ru
            if pageUrl == 'gallery.html'
              .page-title.mt-50
                h1 Галерея
              form.gallery-filter.row
                .col-xs-12.col-md-3
                  +field({
                    type: 'select',
                    lbl: 'Выберите событие',
                    options: [
                      {ttl: ''},
                      {ttl: 'Выберите событие 1'},
                      {ttl: 'Выберите событие 2'},
                      {ttl: 'Выберите событие 3'},
                      {ttl: 'Выберите событие 4'},
                      {ttl: 'Выберите событие 5'},
                    ]
                  })
                .col-xs-12.col-md-3
                  +field({
                    type: 'select',
                    lbl: 'Поиск по годам',
                    options: [
                      {ttl: ''},
                      {ttl: '1981'},
                      {ttl: '1982'},
                      {ttl: '1983'},
                      {ttl: '1984'},
                      {ttl: '1985'},
                    ]
                  })
                .col-xs-12.col-md-3
                  +field({
                    type: 'select',
                    lbl: 'Поиск по месяцам',
                    options: [
                      {ttl: ''},
                      {ttl: 'Январь'},
                      {ttl: 'Февраль'},
                      {ttl: 'Март'},
                      {ttl: 'Апрель'},
                      {ttl: 'Май'},
                      {ttl: 'Июнь'},
                      {ttl: 'Июль'},
                      {ttl: 'Август'},
                      {ttl: 'Сентябрь'},
                      {ttl: 'Октябрь'},
                      {ttl: 'Ноябрь'},
                      {ttl: 'Декабрь'},
                    ]
                  })
                .col-xs-12.col-md-3
                  .form-group.btn-wrap
                    button.btn Показать результаты
              .tags.mt-40.pb-40
                a(href="#") Все
                a(href="#").active #КонкурсКрасоты
                a(href="#") #Лошади
                a(href="#") #Гостиница
                a(href="#") #Отдых
                a(href="#") #КличкаЛошади
            if pageUrl == 'gallery-detail.html'
              .back.upper
                a(href="#") << Назад к галерее
              .date 05.08.2020
              .page-title
                h1  Конкурс  «Очаровательная всадница»
              .tags.mt-40.pb-40
                span #КонкурсКрасоты
            if pageUrl == 'private-police.html'
              .page-title.mt-40
                h1  Политика
                  br
                  |конфиденциальности
            if pageUrl == 'search-page.html'
              .page-title.mt-40
                h1  Результаты поиска
              form.search-box
                .form-group
                  input(type='text' name='search' placeholder='Поиск по сайту')
                button.btn(type='submit')
                  | Найти
                  svg.icon.icon_search
                    use(xlink:href='images/sprite-svg.svg#search')

            if pageUrl == 'events.html'
              .page-title.mt-20
                h1 Мероприятия
              .filter-block.filter-evetns.ml-0.mt-auto_xs
                a(href="#" data-filter="*").active Будущие мероприятия
                a(href="#" data-filter=".class1") Прошедшие мероприятия
              .events-links.mt-30.mb-60_xs
                a(href="#").active Соревнования
                span
                a(href="#") Конное шоу
                span
                a(href="#") Семинар
              +eventsCarousel([
                {
                  pict: 'images/event-1.jpg',
                  type: 'Конкурс',
                  date: '10.08.2020',
                  ttl: 'Очаровательная <br>всадница'
                },
                {
                  pict: 'images/event-2.jpg',
                  type: 'Соревнования',
                  date: '10.08.2020',
                  ttl: 'Очаровательная <br>всадница'
                },
                {
                  pict: 'images/event-3.jpg',
                  type: 'Конное шоу',
                  date: '10.08.2020',
                  ttl: 'Очаровательная <br>всадница'
                },
                {
                  pict: 'images/event-1.jpg',
                  type: 'Конкурс',
                  date: '10.08.2020',
                  ttl: 'Очаровательная <br>всадница'
                },
                {
                  pict: 'images/event-2.jpg',
                  type: 'Конкурс',
                  date: '10.08.2020',
                  ttl: 'Очаровательная <br>всадница'
                },
                {
                  pict: 'images/event-3.jpg',
                  type: 'Конкурс',
                  date: '10.08.2020',
                  ttl: 'Очаровательная <br>всадница'
                }
              ]).mt-80
            if pageUrl == 'event.html'
              .event-area
                .upper.fs-16 Конкурс
                .page-title
                  h1.
                    Очаровательная
                    <br>
                    всадница
              .info-ev.mt-auto.pt-15.pb-25.upper
                .itm
                  .ttl.upper.fs-24.fs-14_xs
                    +svg('star')
                    |Дата и время

                  .extrabold.fs-20
                    | 16 окт. 2020
                    br
                    | 16:00
                .itm.mt-30
                  .ttl.upper.fs-24.fs-14_xs
                    +svg('star')
                    |Место

                  .extrabold.fs-20
                    | МО, д. Алискино,
                    br
                    | ул. Скаковая, д.4
                    |
            if pageUrl == 'contacts.html'
              .contacts-area.pb-100_sm
                .page-title
                  h1 Контакты
                .row
                  .col-xs-12.col-md-6
                    .info.row
                      .itm.col-sm-6.col-xs-12
                        .ttl.upper.extrabold
                          +svg('star')
                          |Местоположение
                        .txt.mt-20
                          | МО, д. Алискино,
                          br
                          | ул. Скаковая, д.4
                      .itm.col-sm-6.col-xs-12.mt-20_xs
                        .ttl.upper.extrabold
                          +svg('star')
                          |Контакты для связи
                        .txt.mt-20
                          .phone
                            a(href="tel:+79852229524") +7 985 222-95-24
                          .mail
                            a(href="mailto:info@aliskino.ru") info@aliskino.ru
                      .itm.col-sm-6.mt-50.col-xs-12.mt-20_xs
                        .ttl.upper.extrabold
                          +svg('star')
                          |Координаты GPS
                        .txt.mt-20
                          | +ХХ° ХХ’ ХХ.ХХ"
                          br
                          | +ХХ° ХХ’ ХХ.ХХ"
                        .reck.upper.mt-20
                          a(href="#") Реквизиты >>
                      .itm.col-sm-6.mt-50.col-xs-12.d-none_xs
                        +webp('images/qr.jpg')
                  .col-xs-12.col-md-6.d-none.d-block_lg.d-block_md
                    a(href="images/big-pict-map.jpg" data-fancybox).map-pict
                      +webp('images/map-pict.jpg')
