.sp-block-my_aliskino_rest_subblock {
    position: relative;
}

.sp-block-my_aliskino_rest_subblock .sp-col-item {
    width: 210px;
}

.sp-block-my_aliskino_rest_subblock .sp-col-item {
    width: 200px;
}

.sp-block-my_aliskino_rest_subblock .sp-result {
    position: relative;
    width: 200px;
    height: 200px;
    background: #ccc;
}

.sp-block-my_aliskino_rest_subblock .sp-result img {
    width: 200px;
    height: 200px;
}

.sp-block-my_aliskino_rest_subblock .sp-col-desc {
    background: #eee;
}

.sp-block-my_aliskino_rest_subblock .sp-source {
    background: #FFEBC1;
}

.sp-block-my_aliskino_rest_subblock.sp-show .sp-source {
    display: block;
}

.sp-block-my_aliskino_rest_subblock .sp-download-url,
.sp-block-my_aliskino_rest_subblock .sp-item-text {
    width: 80%;
}

.sp-block-my_aliskino_rest_subblock .sp-fields {
    padding: 10px;
}

.sp-block-my_aliskino_rest_subblock .sp-field {
    margin-bottom: 10px;
}

.sp-block-my_aliskino_rest_subblock .sp-field:last-child {
    margin-bottom: 0;
}
