<div class="sp-table">
    <div class="sp-row">
        <div class="sp-col sp-col-item">
            <div class="sp-result"></div>
        </div>
        <div class="sp-col sp-col-desc">
            <div class="sp-fields sp-source">
                <div class="sp-field">
                    <input class="sp-download-url" type="text" placeholder="Скачать изображение по ссылке">
                </div>
                <div class="sp-field"><span class="sp-note">или</span></div>
                <div class="sp-field">
                    <div class="sp-file">
                        <strong>Загрузить</strong>&nbsp;
                        <input type="file" name="file" class="adm-designed-file">
                    </div>
                </div>
            </div>
            <div class="sp-fields">
                <div class="sp-field">
                    <input placeholder="Наименование подблока" class="sp-item-text title" type="text" value="{{!it.title}}">
                </div>
                <div class="sp-field">
                    <input class="sp-item-del" type="button" value="x" title="Удалить картинку">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sp-row">
    <div class="sp-col sp-col-desc">
        <div class="sp-fields">
            <div class="sp-field">
                <textarea placeholder="Текст" class="sp-text rest-text" type="text">{{!it.value}}</textarea>
            </div>
        </div>
    </div>
</div>





