@font-face {
    font-family: 'Akrobat';
    src: url('fonts/Akrobat-SemiBold.woff2') format('woff2'),
        url('fonts/Akrobat-SemiBold.woff') format('woff'),
        url('fonts/Akrobat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akrobat';
    src: url('fonts/Akrobat-ExtraLight.woff2') format('woff2'),
        url('fonts/Akrobat-ExtraLight.woff') format('woff'),
        url('fonts/Akrobat-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akrobat';
    src: url('fonts/Akrobat-Bold.woff2') format('woff2'),
        url('fonts/Akrobat-Bold.woff') format('woff'),
        url('fonts/Akrobat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akrobat';
    src: url('fonts/Akrobat-Black.woff2') format('woff2'),
        url('fonts/Akrobat-Black.woff') format('woff'),
        url('fonts/Akrobat-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akrobat';
    src: url('fonts/Akrobat-Light.woff2') format('woff2'),
        url('fonts/Akrobat-Light.woff') format('woff'),
        url('fonts/Akrobat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akrobat';
    src: url('fonts/Akrobat-Regular.woff2') format('woff2'),
        url('fonts/Akrobat-Regular.woff') format('woff'),
        url('fonts/Akrobat-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akrobat';
    src: url('fonts/Akrobat-ExtraBold.woff2') format('woff2'),
        url('fonts/Akrobat-ExtraBold.woff') format('woff'),
        url('fonts/Akrobat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akrobat';
    src: url('fonts/Akrobat-Thin.woff2') format('woff2'),
        url('fonts/Akrobat-Thin.woff') format('woff'),
        url('fonts/Akrobat-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

