.livestock-list {
  padding: 100px 0 85px;
  .list {
    margin: 45px -15px 0;
    .item {
      padding: 15px;
    }
    .box {
      position: relative;
      display: block;
      border: none;
      @include mq('tablet') {
        max-width: 235px;
        margin: 0 auto;
      }
      &:after,
      &:before {
        content: '';
        position: absolute;
        top: -5px;
        left: -5px;
        background: $brown;
      }
      &:before {
        width: 0;
        height: 1px;
        @include transition();
      }
      &:after {
        width: 1px;
        height: 0;
        @include transition();
        right: 100%;
        left: -5px;
      }
      &:hover {
        &:after {
          height: calc(100% + 5px );
        }
        &:before {
          width: calc(100% + 5px );
        }
        .info {
          opacity: 1;
          visibility: visible;
        }
        .more {
          &:hover {
            font-weight: 900;
          }
          span {
            border-bottom: 1px solid #FFF;
          }
        }
      }
      img {
        display: block;
        width: 100%;
      }
      .info {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($brown, 0.7);
        color: #FFF;
        padding: 20px 20px 10px;
        opacity: 0;
        visibility: hidden;
        @include transition();
      }
      .champ {
        width: 0;
        height: 0;
        position: absolute;
        top: 8px;
        right: 50px;
        span {
          display: block;
          background: #FFF;
          color: $brown;
          font-size: 10px;
          font-weight: bold;
          position: absolute;
          height: 26px;
          line-height: 26px;
          padding: 0 5px;
          transform: rotate(-90deg);
          &:after,
          &:before {
            content: '';
            right: 100%;
            position: absolute;
            margin-right: -1px;
          }
          &:before {
            border-right: 8px solid #FFF;
            border-bottom: 13px solid transparent;
          }
          &:after {
            top: 50%;
            border-right: 8px solid #FFF;
            border-top: 13px solid transparent;
          }
        }
      }
      .nickname {
        .nick {
          font-weight: bold;
          font-size: 24px;
        }
      }
      .more {

      }
    }
  }
}
