mixin livestockList(data)
  .livestock-list&attributes(attributes)
    .container
      .page-title
        .title!=data.title
      .list.row
        each itm in data.items
          .item.col-sm-6.col-md-3.col-xs-12
            a(href="horse.html").box
              +webp(itm.pict)
              .info
                if itm.champ
                  .champ
                    span чемпион
                .nickname.upper.mb-auto
                  |Кличка
                  .nick!=itm.nick
                .char
                  each char in itm.char
                    .itm
                      !=char.ttl
                      |:
                      = ' '
                      !=char.val
                .more.text-right.upper.fs-12.mt-40.light
                  span.lnk_reverse Подробнее >>
