- var id = 0;
mixin listLink(data)
  - var tagName = data.tagName? data.tagName: 'ul';
  - var tagItem = data.tagItem? data.tagItem: 'li';
  #{tagName}&attributes(attributes)
    each itm in data.items
      #{tagItem}(class=itm.cl)
        a(target=itm.target, href=(itm.url) ? itm.url:'#')
          if (itm.ttl)
            !=itm.ttl
          if (itm.icn)
            +svg(itm.icn)
mixin svg(icn)
  svg( class="icon icon_"+icn)&attributes(attributes)
    use(xlink:href="images/sprite-svg.svg#"+icn)
mixin phone(data)
  - var href = data.phone.replace(/[^0-9\+]/g, '')
  a&attributes(attributes)(href="tel:"+href)
    if data.icon
      +svg(data.icon)(class=data.classIcon)
    !=data.phone
mixin webp(img)
  -var src = img.replace(/\.jp[e]?g|.png/g, '')
  picture
    source(data-srcset=src+'.webp' class="lazy" type="image/webp")
    img(data-src=img, class="lazy" alt="")&attributes(attributes)
mixin field(data)
  - id++
  case data.type
    when 'select'
      .form-group&attributes(attributes)
        if data.lbl
          label(
            for='input-' + id,
            class=data.classLabel
          ).inp-lbl!=data.lbl
        .form-select-wrap
          select(
            class=data.classInput,
            name=data.name,
            placeholder=data.placeholder,
            style="width: 100%",
            required=data.required
            disabled=data.disabled
          ).form-select
            if data.placeholder
              option
            each itm in data.options
              option(value=itm.value)!=itm.ttl
    when 'file'
      -id++
      .form-group.d-flex&attributes(attributes)
        .form-file
          input(type="file" name="" placeholder="")
          +btn(data.btn)
          span.text.bold!=data.text
          .txt
          span.remove
            +svg('close')
    when 'checkbox'
      -id++
      input(
        type="checkbox",
        value=data.value,
        class=data.classInput,
        name=data.name,
        checked=data.checked,
        id='checkbox-' + id
      ).inp-checkbox
      label(for='checkbox-' + id).form-checkbox
        .icon-wrap
        if data.icon
          +svg(data.icon.icon, data.icon.folder)
        !=data.lbl
        if data.pict
          +webp(data.pict)
        if data.icon
          +svg(data.icon, data.iconPath)(class=data.classIcon)
    when 'radio'
      -id++
      .form-group&attributes(attributes)
        input(
          type="radio",
          value=data.value,
          class=data.classInput,
          name=data.name,
          checked=data.checked,
          required=data.required
          id='radio-'+id
        ).checkbox
        label(for='radio-'+id).custorm-radio
          .icon-wrap
            +svg('check')
          !=data.lbl
    when 'textarea'
      .form-group&attributes(attributes)
        if data.lbl
          label(
            for='input-' + id,
            class=data.classLabel
          ).inp-lbl!=data.lbl
        textarea(
          class=data.classInput,
          name=data.name,
          placeholder=data.placeholder,
          id='input-' + id,
          rows="5",
          cols="10",
          required=data.required
        ).form-control

    default

      .form-group&attributes(attributes)
        if data.lbl
          label(
            for='input-' + id,
            class=data.classLabel
          ).inp-lbl!=data.lbl
        input(
          type=data.type ? data.type: 'text',
          name=data.name,
          data-mask=data.mask? data.mask: false,
          placeholder=data.placeholder,
          value=data.value,
          class=data.classInput,
          id='input-'+id,
          required=data.required
        ).form-control

mixin socialbox(data)
  ul.socialbox&attributes(attributes)
    each itm in data.items
      li
        a(target="_blank" href=itm.url? itm.url:'#')
          +svg(itm.icon)
mixin breadcrumbs(data)
  .breadcrumbs&attributes(attributes)
    ul
      each itm, i in data.items
        if i < data.items.length -1
          li
            if i != 0
              +svg('star')
            a(href=itm.url)!=itm.ttl
        else
          li
            +svg('star')
            !=itm.ttl
mixin pagination()
  .pagination&attributes(attributes)
    ul
      li
        a(href="#") 1
      li
        a(href="#") 2
      li
        a(href="#") 3
      li
        a(href="#") 4
      li
        span 5
      li
        a(href="#") 6
      li
        a(href="#") 7
      li
        a(href="#") 8
mixin eventsCarousel(data)
  .events-carousel&attributes(attributes)
    each itm in data
      .itm
        a(href="event.html").box
          +webp(itm.pict)
          .info
            .top.d-flex.align-items-end
              .type.upper.light.mr-10!=itm.type
              .date.fs-10!=itm.date
            .ttl.upper.extrabold.fs-24!=itm.ttl
            .more.mt-15.upper.fs-12
              span Подробнее >>
