header {
  position: absolute;
  top: 32px;
  width: 100%;
  left: 0;
  z-index: 100;
  color: #FFF;
  padding: 3.5px 0;
  transition: background 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
  &.is-fixed {
    top: 0;
    width: 100vw;
    position: fixed;
    z-index: 300;
    background: #EFD6C8;
    color: #2d2621;
    box-shadow: 9px 0 34px rgba(#2d2621, 0.72);
    overflow: hidden;
    .container {
      height: 53px;
    }
     .languages li {
       &:first-child {
         border-color:#2d2621;
       }
       a {
         color: #2d2621;
       }
     }
    .mobile-dropdown nav li.is-active a:after,  .mobile-dropdown nav li.is-active a:before,  .mobile-dropdown nav li:hover a:after,  .mobile-dropdown nav li:hover a:before {
      opacity: 1;
      visibility: visible;
    }
    .mobile-dropdown nav ul {
      border-top-color: transparent;
      border-bottom-color: transparent;
      li.is-active a {
        color: #FFF;
        background: #2d2621;
      }
      a {
        color: #2d2621;
      }
    }

    .logo {
      margin-top: auto;
      margin-bottom: auto;
      width: 31px;
      height: 35px;
    }
  }

  @include mq('desktop') {
    z-index: 1000;
  }

  .container {
    display: flex;
    position: relative;
    @include mq('desktop') {
      justify-items: center;
    }
  }

  .logo {
    display: block;
    color: inherit;
    width: 67px;
    height: 67px;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include mq('desktop') {
      position: relative;
      top: auto;
      right: auto;
      left: auto;
      transform: translate(0, 0);
      width: 47px;
      height: 47px;
      z-index: 300;
      margin: 0 auto;
    }
    svg {
      fill: currentColor;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  color: #FFF;
  .burger {
    @include mq('desktop', min) {
      display: none;
    }
    @include mq('tablet') {
      left: 20px;
      margin: 0;
    }
    user-select: none;
    background: transparent;
    border: none;
    position: absolute;
    padding: 0;
    width: 20px;
    height: 20px;
    top: 50%;
    right: 50%;
    margin-right: 320px;
    z-index: 300;
    transform: translateY(-50%);
    -webkit-tap-highlight-color: transparent;

    span {
      position: absolute;
      width: 100%;
      height: 1px;
      background: currentColor;
      top: 50%;
      left: 50%;
      margin: -0.5px 0 0;

      &:before,
      &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        background: currentColor;
      }

      &:before {
        top: -5px;
      }

      &:after {
        bottom: -5px;
      }
    }
  }

  .search-btn {
    left: -110px;
    position: absolute;
    padding: 0;
    top: 50%;
    border: none;
    background: 0 0;
    transform: translateY(-50%);
    z-index: 300;
    @include mq('desktop-wide-md') {
      left: -80px;
    }
    @include mq('desktop') {
      left: 50%;
      margin-left: 320px;
    }
    @include mq('tablet') {
      left: auto;
      right: 20px;
      margin: 0;

    }

    .icon {
      display: block;
      width: 23px;
      height: 23px;
    }
  }

  .mobile-info {
    a {
      color: inherit;
      border: none;
    }
  }

  .mobile-dropdown {
    width: 100%;

    .scr-block {
      display: flex;
      width: 100%;
    }

    nav {
      li {
        padding: 13px 0;
        letter-spacing: 2px;

        &:hover,
        &.is-active {
          a {
            color: #2d2621;
            background: #FFF;

            &:after, &:before {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }

      a {
        font-size: 14px;
        padding: 0 15px;
        line-height: 25px;
        display: block;
        position: relative;
        color: #FFF;
        text-transform: uppercase;
        border: none;
        border-radius: 5px;
        background: transparent;
        @include transition(0s);

        &:after,
        &:before {
          content: '';
          @include transition(0s);
          background: inherit;
          visibility: hidden;
          width: 15px;
          height: 15px;
          border-radius: 100%;
          opacity: 0;
          position: absolute;
          top: 50%;
          margin-top: -7.5px;
        }

        &:before {
          left: -7.5px;
        }

        &:after {
          right: -7.5px;
        }
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      @include mq('desktop', min) {
        width: 384px;
        &:first-child {
          margin-right: auto;
        }
        ul {
          display: flex;
          border-top: 1px solid #FFF;
          border-bottom: 1px solid #FFF;
          justify-content: space-between;

          li {
            &:first-child {
              margin-left: -15px;
            }

            &:last-child {
              margin-right: -15px;
            }
          }
        }
      }
    }

    @include mq('desktop') {
      @include transition();
      overflow: hidden;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: #EFD6C8;
      display: block;
      padding-top: 130px;
      opacity: 0;
      visibility: hidden;
      z-index: -10000;
      &:before {
        content: '';
        width: 1283px;
        height: 1379px;
        position: absolute;
        background: #efd6c8 url(../images/logo.svg) 0 0 no-repeat;
        top: 50%;
        left: 50%;
        transform: translate(-68%, -35%);
      }
      .scr-block {
        display: block;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        position: relative;
      }
      nav {
        text-align: center;

        ul {
          li {
            padding: 0 0 20px;
            @include mq('tablet') {
              padding: 0 0 10px;

            }

            &:hover,
            &.is-active {
              a {
                color: #FFF;
                background: #2d2621;

                &:after, &:before {
                  opacity: 1;
                  visibility: visible;
                }
              }
            }

            a {
              display: inline-block;
              color: #2d2621;
            }
          }
        }
      }
      .bottom {
        max-width: 574px;
        border-top: 1px solid #2d2621;
        margin: 18px auto 45px;
        border-bottom: 1px solid #2d2621;
        padding: 45px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        @include mq('tablet') {
          max-width: 255px;
          border-bottom: none;
          padding-bottom: 0;
        }
      }
      .socialbox {
        position: static;
        display: flex;
        color: #2d2621;
        transform: translate(0);
        top: auto;
        align-items: center;
        justify-items: center;
        right: auto;

        li {
          margin: 0 30px;
          @include mq('tablet') {
            margin: 0 15px;
          }
        }

        a {
          color: inherit;
          opacity: 1;
        }
      }
      .languages {
        position: static;
        transform: translate(0);
        top: auto;
        right: auto;
        display: flex;
        margin-left: 15px;
        @include mq('tablet') {
          margin-left: 0;

        }

        li {
          &:first-child {
            padding-right: 15px;
            border-right: 1px solid;
            @include mq('tablet') {
              padding-right: 9px;
            }
          }

          &:last-child {
            padding-left: 15px;
            @include mq('tablet') {
              padding-left: 9px;
            }
          }
        }

        a {
          color: inherit;
          opacity: 1;
        }
      }
    }
  }

  .languages {
    display: flex;
    position: absolute;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    list-style: none;
    top: 50%;
    right: -119px;
    line-height: 1;
    transform: translateY(-50%);
    @include mq('desktop-wide-md') {
      right: -80px;
    }

    a {
      color: #FFF;
      opacity: 0.5;
      letter-spacing: 2px;
      border: none;

      &:hover {
        opacity: 1;
      }
    }

    li {
      &:first-child {
        padding-right: 9px;
        border-right: 1px solid #FFF;
      }

      &:last-child {
        padding-left: 9px;
      }
    }
  }
}
  .socialbox {
    position: absolute;
    top: 116px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    right: -93px;
    @include mq('desktop-wide-md') {
      right: -55px;
    }
  li {
    margin-bottom: 24px;
    a {
      display: block;
      border: none;
      width: 20px;
      height: 20px;
      color: #FFF;
      opacity: 0.5;
      position: relative;
      &:hover {
        opacity: 1;
      }
      svg {
        width: 100%;
        height: 100%;
        @include center;

        &.icon_yt {
          width: 110%;
          height: 110%;
        }

      }
    }
  }
  @include mq('desktop') {
    position: static;
    display: flex;
    color: #2d2621;
    transform: translate(0);
    top: auto;
    align-items: center;
    justify-items: center;
    right: auto;

    li {
      margin: 0 30px;
      @include mq('tablet') {
        margin: 0 15px;
      }
    }

    a {
      color: inherit;
      opacity: 1;
    }
  }
}

html {
  &.menu-open {
    overflow: hidden;

    body {
      overflow: hidden;

      header {
        color: #2d2621;

        .burger {
          span {
            background: transparent;

            &:after {
              bottom: 0;
              transform: rotate(-45deg);
            }

            &:before {
              top: 0;
              transform: rotate(45deg);
            }
          }
        }

        .mobile-dropdown {
          visibility: visible;
          opacity: 1;
          z-index: 100;
        }
      }
    }
  }
}

