mixin headerMenu(data)
  nav
    ul
      each itm in data
        li(class=pageUrl == itm.url? 'is-active': '')
          a(href=itm.url)!=itm.ttl
mixin header()
  +socialbox({
    items: [
      {icon: 'yt'},
      {icon: 'inst'},
      {icon: 'tg'},
      {icon: 'fb'},
    ]
  })
  header
    .container
      button.burger
        span
      button.search-btn
        +svg('search')
      a(href="homepage.html").logo
        include ../../images/logo.svg
      .mobile-dropdown
        .scr-block
          +headerMenu(baseData.menu1)
          +headerMenu(baseData.menu2)
          .bottom
            ul.languages
              li рус
              li
                a(href="#") ENG
          .mobile-info.d-none.d-block_xs.d-block_sm.text-center.pb-40
            .ttl.mt-40.mb-20.upper.extrabold Контакты для связи
            .phone.light
              a(href="tel:+79852229524") +7 985 222-95-24
            .mail.light
              a(href="mailto:info@aliskino.ru") info@aliskino.ru
            .ttl.mt-40.mb-20.upper.extrabold Местоположение
            .address
              | МО, д. Алискино, ул. Скаковая, д.4
              br
              | +ХХ° ХХ’ ХХ.ХХ", +ХХ° ХХ’ ХХ.ХХ"






