.search-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
  visibility: hidden;
  opacity: 0;
  padding-top: 150px;
  .overflay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.4);
  }

  form {
    position: relative;
    display: flex;
    .form-group {
      flex: 1;
      margin: 0;
      @include mq('tablet', min) {
        padding-right: 30px;
      }
      input {
        width: 100%;
        background: #FFF;
        font-size: 14px;
        line-height: 20px;
        color: #2d2621;
        padding: 10px 20px;
        border: 1px solid #FFF;
        @include placeholder() {
          color: #2d2621;
          opacity: 1;
        }
      }
    }
    .btn {
      text-transform: uppercase;
      font-size: 14px;
      @include mq('tablet') {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        z-index: 10;
        color: #2d2621;
        min-width: 40px;
        &:after,&:before {
          display: none;
        }
        .icon {
          @include center;
        }
      }
      @include mq('tablet', min) {
        width: 102px;
        .icon {
          display: none;
        }
      }
    }
  }
}
.is-search-visible {
  overflow-y: scroll;
  height: 100%;
  body {
    overflow: hidden;
    height: 100%;
    .search-container {
      opacity: 1;
      visibility: visible;
      z-index: 1000;
    }
  }
}
form.search-box  {
  position: relative;
  display: flex;
  .form-group {
    flex: 1;
    margin: 0;
    @include mq('tablet', min) {
      padding-right: 30px;
    }
    input {
      width: 100%;
      background: #FFF;
      font-size: 14px;
      line-height: 20px;
      color: #2d2621;
      padding: 10px 20px;
      border: 1px solid #FFF;
      @include placeholder() {
        color: #2d2621;
        opacity: 1;
      }
    }
  }
  .btn {
    text-transform: uppercase;
    font-size: 14px;
    @include mq('tablet') {
      font-size: 0;
      line-height: 0;
      position: absolute;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      z-index: 10;
      color: #2d2621;
      min-width: 40px;
      &:after,&:before {
        display: none;
      }
      .icon {
        @include center;
      }
    }
    @include mq('tablet', min) {
      width: 102px;
      .icon {
        display: none;
      }
    }
  }
}
