mixin search(data)
  .search-container&attributes(attributes)
    .overflay
    .container
      form
        .form-group
          input(type="text" name="search" placeholder="Поиск по сайту")
        button.btn(type='submit') Найти
          +svg('search')
