//include normalize
@import "libs/normalize";

//include variables
@import "helpers/variables";
// include functions
@import "helpers/functions";
// include mixin
@import "helpers/mixin";
// include mixin
// include select
@import "./bower_components/select2/src/scss/core.scss";
@import "../../bower_components/slick-carousel/slick/slick.css";
@import "../../bower_components/fancybox/dist/jquery.fancybox.css";
/* Ссылки
-----------------------------*/
@import "partials/link";
/* Сетка
-----------------------------*/
@import "partials/grid";

/* Кнопки на сайте
-----------------------------*/
@import "partials/buttons";
/* Элементы форм
-----------------------------*/
@import "partials/forms";
/* Базовые стили всего сайта
-----------------------------*/
@import "partials/base";
html, body {
  overflow: hidden;
  height: 100%;
}
.main {
  width: 100%;
  height: 100%;
  background:  url(../images/main-slide1.jpg) center center no-repeat;
  background-size: cover;
  color: #FFF;
  position: relative;
  padding: 50px 20px;
  &:before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0 ;
    background: rgba(#000, 0.5);
  }
  .container {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    color: #FFF;
    align-items: center;
    justify-content: center;
  }
  .title {
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    font-size: 100px;
    line-height: 1.3;
    &:before {
      content: attr(data-title);
      position: absolute;
      opacity: 0.2;
      font-size: 1.2em;
      line-height: 1.2;
      color: transparent;
      -webkit-text-stroke: 1px #fff;
      width: 115%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%);
    }
    @include mq('desktop') {

      &:before {
        opacity: .2;
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        content: attr(data-title);
        transform: translateX(-50%);
        margin-bottom: 40px;
      }
    }

    @include mq('desktop') {
      font-size: 65px;
      padding: 0 0 70px;
      &:before {
        font-size: 123px;
      }
    }
    @include mq('tablet') {
    }
  }
}
