.grid-layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
  z-index: -1;

  .row {
    min-height: 100vh;

    .in {
      background: rgba(#FFE4E4, 0.5);
    }
  }
}

.tabs-panel {
  overflow-y: hidden;
  overflow-x: auto;
  .in {
    border-bottom: 1px solid;
    display: flex;
  }
  a {
    display: block;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    border: 1px solid;
    border-bottom: none;
    position: relative;
    background: #FFF;
    &.is-active {
      opacity: 1;
      color: #000;
      &:after {
        opacity: 1;
      }
    }
    &:after {
      width: 100%;
      height: 1px;
      background: #fff;
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      opacity: 0;
    }
  }
}
