.about-desc {
  padding-top: 370px;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #F4EAE4;
  @include mq('desktop') {
    background-size: 150%;
    background-position: 25% 0;
  }
  @include mq('tablet-wide') {
    padding-top: 240px;
  }
  @include mq('tablet') {
    padding-top: 115px;
  }
  .picts-block {
    margin-top: 50px;
  }
  .row {
    p {
      @include mq('tablet') {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
