mixin aboutDesc(data)
  .about-desc&attributes(attributes)
    .container
      .page-title
        .title Отношение к лошадям
      .row
        .col-md-6.col-xs-12
          .h3 О лошадях
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        .col-md-6.col-xs-12.pt-60_sm.pt-45_xs.col-xs-12
          .h3 Уход за лошадьми
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

    .picts-block.d-flex.flex-flow-row-wrap
      a(href="images/about-pict1.jpg" data-fancybox="about-desc")
        +webp('images/about-pict1.jpg')
      a(href="images/about-pict2.jpg" data-fancybox="about-desc")
        +webp('images/about-pict2.jpg')
      a(href="images/about-pict3.jpg" data-fancybox="about-desc")
        +webp('images/about-pict3.jpg')
      a(href="images/about-pict4.jpg" data-fancybox="about-desc")
        +webp('images/about-pict4.jpg')
