.rest-container {
  .filter-block {
    //justify-content: space-between;
  }
  .page-head {
    padding-bottom: 70px;
  }
}
.rest-list {
  padding: 35px 0;
  overflow: hidden;
  .item {
      padding: 35px 0;
    .pict {
      @include mq('tablet') {
        padding-top: 55px;
      }
    }
    @include mq('tablet', min) {
      .pict {
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &:nth-child(odd) {
        .row {
          justify-content: flex-end;
        }
        .pict {
          padding-right: 30px;
          left: 0;
        }
      }
      &:nth-child(even) {
        .row {
        }
        .pict {
          padding-right: 30px;
          right: 0;
        }
      }
    }
    .desc {
      max-width: 360px;
    }
    .title {
      position: relative;
      &:after {
        content: attr(data-title);
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(-20%);
        -webkit-text-stroke: 1px $brown;
        opacity: 0.15;
        white-space: nowrap;
        line-height: 1;
        font-size: 213px;
        color: transparent;
      }
    }
      .item-in {
        position: relative;
        min-height: 440px;

      }
  }
}
