footer {
  background: #EFD6C8;
  padding: 55px 0 85px;
  position: relative;
  z-index: 5;
  @include mq('tablet-wide') {
    padding-top: 47px;
    padding-bottom: 70px;

  }
  .footer-in {
    display: flex;
    flex-flow: row wrap;
    color: $brown;
    justify-content: space-between;
    margin: 0 -15px;
    @include mq('tablet-wide') {
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
    .ttl {
      letter-spacing: 2px;
    }
    .col {
      padding: 0 15px;
      @include mq('desktop') {
        @include mq('tablet-wide', min) {
          width: 25%;
        }
      }
      &:nth-child(2) {

        .ttl {
          @include mq('tablet-wide') {
            margin-top: 49px;
          }
        }
      }
    }
    a {
      color: inherit;
    }
    .ttl {
      @include mq('tablet') {
        margin-top: 66px;
        margin-bottom: 29px;
      }
    }
    .logo {
      border: none;
      display: block;
      color: inherit;
      width: 134px;
      height: 149px;

      @include mq('tablet-wide') {
        width: 134px;
        height: 149px;
      }
      svg {
        fill: currentColor;
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}
