footer
  .container
    .footer-in
      .col
        a(href="#").logo
          include ../../images/logo.svg
      .col
        .ttl.upper.bold.mb-25.mt-25.mt-60_xs Конно-спортивный клуб «Алискино»
        .copyright.fs-11.upper © Все права защищены, 2021
      .col
        .ttl.upper.bold.mb-25.mt-25.mt-60_xs Контакты для связи
        .phone.light
            a(href="tel:+79852229524") +7 985 222-95-24
        .mail.light
            a(href="mailto:info@aliskino.ru").lnk_reverse info@aliskino.ru

      .col
        .ttl.upper.bold.mb-25.mt-25.mt-60_xs Местоположение
        .address
          | МО, д. Алискино, ул. Скаковая, д.4
          br
          | +ХХ° ХХ’ ХХ.ХХ", +ХХ° ХХ’ ХХ.ХХ"

