// Контрольные точки;
$breakpointsPhone:             400px;
$breakpointsPhoneWide:         480px;
$breakpointsPhablet:           540px;
$breakpointsTabletSmall:       640px;
$breakpointsTablet:            768px;
$breakpointsTabletWide:        992px;
$breakpointsDesktop:           1200px;
$breakpointsDesktopWideMd:     1400px;
$breakpointsDesktopWide:       1600px;

$breakpoints: (
  "phone":        $breakpointsPhone,
  "phone-wide":   $breakpointsPhoneWide,
  "phablet":      $breakpointsPhablet,
  "tablet-small": $breakpointsTabletSmall,
  "tablet":       $breakpointsTablet,
  "tablet-wide":  $breakpointsTabletWide,
  "desktop":      $breakpointsDesktop,
  "desktop-wide-md":      $breakpointsDesktopWideMd,
  "desktop-wide": $breakpointsDesktopWide
);

// Цвета на сайте
$blue: #0078ff;
$white: #FFF;
$black: #000;
$brown: #2d2621;
$gray10: scale-color($black,$lightness:10%); // 1a1a1a

$mobileBrackpoints: 'tablet';

// Grids
$grid-columns:              12;
$grid-gutter-width:         30px;

$baseFS: 14px !default;
$baseLH: ( 20px / $baseFS );
$baseFW: 400;
$baseFSt: normal;
$baseFF: 'Akrobat', Arial, sans-serif;
$baseFClr: $brown;
$baseBg: #F5EDE8;

$containerW: 1200px;
$containerP: 0 $grid-gutter-width/2;
$baseLinkColor: $blue;



