html {
  height: 100%;
}

body {
  font-family: $baseFF;
  color: $baseFClr;
  font-size: $baseFS;
  line-height: $baseLH;
  font-weight: $baseFW;
  font-style: $baseFSt;
  min-height: 100%;
  position: relative;
  background: $baseBg;
  @include mq('tablet-wide', min) {
    overflow-y: scroll;
  }
}

button,
input[type='submit'] {
  @include transition();
}

p {
  margin: 0 0 20px;
}

img {
  max-width: 100%;
}

.slick-slider *,
input, button,
a:focus, a:hover {
  outline: none !important;
}
*:after,
*:before,
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix {
  &:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
  }
}
.icon {
  &.icon_arrow-right {
    stroke-width: 6;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    fill: none;
    stroke-linejoin: round;
    stroke: currentColor;
  }
}
.tabs-wrap {
  position: relative;
  .tab {
    position: absolute;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: -100;
    @include transition();
    &.is-visible {
      position: static;
      visibility: visible;
      opacity: 1;
    }
  }
}
.container {
  max-width: 970px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  @include mq('desktop') {
    padding-left: 115px;
    padding-right: 115px;
  }
  @include mq('tablet') {
    padding: 0 20px;
  }
}
.uikit {
  background: #EDDACC;
}
.back {
  letter-spacing: 2px;
  color: $brown;
  &.back-light {
    a {
      opacity: 0.7;
    }
  }
  a {
    color: inherit;
    border: none;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}
.page-content {
  position: relative;
  background: #EFD6C8;
  padding-top: 80px;
  .slick-dots {
    padding-left: 0;
    margin-left: 0!important;
    li {
      margin-right: 0;
      padding: 0;
      &:first-child {
        margin-left: 0!important;
      }
      &:after {
        display: none;
      }
    }
  }
  @include mq('tablet') {
    padding-top: 75px;
  }
  &:before {
    content: '';
    width: 100%;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
    background: #9A7D6D;
    @include mq('tablet') {
      height: 56px;
    }
  }
  &.no-before {
    padding-top: 0;
    &:before {
      display: none;
    }
  }
}
.h1 {

}
a[data-fancybox] {
  border: none;
}
h2, .h2 {
  font-size: 48px;
  line-height: 1;
  font-weight: 900;
  margin: 0 0 25px;
  @include mq('tablet') {
    font-size: 46px;

  }
}
h3, .h3 {
  font-size: 30px;
  font-weight: 900;
  margin: 0 0 25px;
  text-transform: uppercase;
}
.page-head {
  overflow: hidden;;
}
.page-title {
  margin: 0 0 35px;
  text-transform: uppercase;
  &.no-border {
    .title,
    .h1, .h2, .h3, .h4, .h5, .h6,
    h1, h2, h3, h4, h5, h6 {
      border: none;
    }
  }
  .title,
  .h1,  .h4, .h5, .h6,
  h1, h4, h5, h6 {
    display: inline;
    color: $brown;
    padding: 0;
    font-weight: 900;
    font-size: 65px;
    border-bottom: 1px solid ;
    @include mq('tablet') {
      font-size: 48px;
      line-height: 1.1;
    }
  }
  &.has-rear {
    margin-bottom: 104px;
    margin-top: 45px;
    position: relative;
    @include mq('tablet') {
      margin-top: 0;
      margin-bottom: 65px;
      text-align: left;
    };
    h1 {
      position: relative;
      text-indent: 0;
      @include mq('tablet-wide') {
        font-size: 60px;
      }
      @include mq('tablet') {
        font-size: 48px;
        text-align: left;
      }
    }
    .rear {
      font-size: 213px;
      position: absolute;
      color: transparent;
      font-weight: 900;
      top: 50%;
      transform: translateY(-50%);
      -webkit-text-stroke: 1px $brown;
      opacity: 0.15;
      left: 30%;
      @include mq('tablet-wide') {
        font-size: 159px;
        left: -115px;
      }
      @include mq('tablet') {
        font-size: 65px;
        left: 0;
        top: 50px;

      }
    }
  }
}

.slick-dots.bordered {
  position: absolute;
  height: 3px;
  top: 100%;
  display: flex;
  margin: 0;
  padding: 32px 0 0;
  list-style-type: none;
  li {
    margin-left: 10px;
    display: flex;
    align-items: flex-end;
    &.slick-active {
      button {
        height: 3px;
      }
    }
    button {
      padding: 0;
      border: none;
      height: 1px;
      width: 27px;
      display: block;
      background: $brown;

    }
  }
}
.slick-dots {
    li {
      button {
        overflow: visible!important;
        font-size: 0;
        line-height: 0;
        position: relative;
        &:after {
          content: '';
          height: 27px;
          width: 100%;
          cursor: pointer;
          @include center;
        }
      }
    }
}

.border-pict {
  .in {
    display: inline-block;
    padding: 5px 0 0 5px;
    border-left: 1px solid $brown;
    border-top: 1px solid $brown;
    img {
      display: block;
    }
  }
}
.list-marker-star {
  margin:0;
  padding: 0;
  list-style: none;;
  li {
    padding-left: 15px;
    position: relative;
    &:after {
      width: 10px;
      height: 10px;
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      background:  url(../images/star.svg) 0 0 no-repeat;
    }
  }
}
.breadcrumbs {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    display: flex;
    flex-flow: row wrap;
    text-transform: uppercase;
    .icon_star {
      width: 10px;
      height: 10px;
      margin: 0 10px;
    }
    li, a {
      display: flex;
      align-items: center;
    }
    a {
      @extend .lnk_reverse;
      color: inherit;
    }
  }
}
.page-content {
  &.bg-light {
    &:before {
      display: none;
    }
  }
  &.worker-area {
    padding: 50px 0 70px;
    ul {
      @extend .list-marker-star;
      margin-bottom: 30px;
    }
  }
}
.page-content {
  &.vacancy-page {
    padding: 50px 0;
    .mail, .phone {
      a {
        color: inherit;
        border: none;
      }
    }
  }
}
.vacancy-form {
  @include mq('tablet-wide', min) {
    display: flex;
    .ttl {
      max-width: 150px;
      padding-right: 15px;
    }
  }
  form {
    flex:1;
    border: 1px solid #DED3CD;
    padding: 35px 35px 10px;
    @include mq('tablet-wide') {
      padding: 35px;
    }
    @include mq('tablet') {
      padding: 20px;
    }
    .group-wrap {
      @include mq('tablet-wide', min) {
        display: flex;
        align-items: flex-end;
      }
      @include mq('tablet') {
        padding-bottom: 25px;

      }
      .form-group {

       @include mq('tablet-wide', min) {
         margin-bottom: 0;
         max-width: 50%;
       }
        @include mq('tablet') {
          margin-bottom: 45px;
          label {
            padding-bottom: 10px;
            display: block;
          }
        }
      }

      .btn {
        margin-left: auto;
        @include mq('tablet') {
          font-size: 14px;
        }
      }
    }
  }
}
.filter-block {
  display: flex;
  margin-left: -15px;
  margin-top: 40px;
  flex-flow: row wrap;
  @include mq('tablet') {
    margin: 0;
    justify-content: center;
  }
  a {
    margin: 0 20px 5px 0;
    font-size: 14px;
    padding: 0 15px;
    line-height: 25px;
    display: block;
    position: relative;
    color: $brown;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    background: transparent;
    @include transition(0s);
    &:after,
    &:before {
      content: '';
      @include transition(0s);
      background: inherit;
      visibility: hidden;
      width: 15px;
      height: 15px;
      border-radius: 100%;
      opacity: 0;
      position: absolute;
      top: 50%;
      margin-top: -7.5px;
    }
    &:before {
      left: -7.5px;
    }
    &:after {
      right: -7.5px;
    }
    &.active,
    &:hover {
      color: #FFF;
      background: $brown;
      &:after, &:before {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
.news-list-wrap {
  padding-bottom: 70px;
  margin-top: calc(-100vh  + 150px);
  position: relative;
  z-index: 5;
  overflow: hidden;
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    top: 600px;
    background: #F4EAE4;
    position: absolute;
  }
  .page-title {
    >* {
      color: #FFF;
    }
  }
  .list {
    .item {
      padding-top: 50px;
      &:first-child {
        padding-top: 0;
      }
      .box {
        position: relative;
        background: #FFF;
        .box-in {
          overflow: hidden;
          position: relative;
        }
        &:after,
        &:before {
          content: '';
          background: $brown;
          top: -5px;
          left: -5px;
          position: absolute;
        }
        &:after {
          height: 100%;
          width: 1px;
        }
        &:before {
          width: 100%;
          height: 1px;
        }
        &.is-visible {
          .desc {
            left: 0;
            position: static;
            max-height: none;
          }
          .more {
            left: 0;
          }
        }
        .pict {
          position: relative;
          width: 30%;
          float: left;
          margin: 0 35px 0  0;
          @include mq('tablet-wide') {
            width: 100%;
            margin: 0;
            float: none;

            img {
              width: 100%;
            }
          }
          img {
            display: block;
          }
          .info {
            padding: 20px;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            color: #FFF;
            .date {
              font-size: 10px;
            }
          }
        }
        .desc {
          left: 30%;
          flex: 1;
          padding: 35px 35px 20px;
          position: absolute;
          @include mq('desktop') {
            padding: 20px;
          }
          @include mq('tablet-wide') {
            padding: 30px 30px 0;
            max-height: 150px;
            position: static;
          }
          @include mq('tablet') {
            padding: 20px 20px 0;
            max-height: 148px;
          }
        }
        .more {
          position: absolute;
          bottom: 0;
          width: 100%;
          background: #FFF;
          padding: 23px 35px 35px;
          left: 30%;
          @include mq('tablet-wide') {
            position: relative;
            left: auto;
            padding: 20px 30px 30px 30px;
          }
          @include mq('tablet') {
            padding: 20px;
          }
          a {
            color: inherit;
            border:none;
          }
        }
      }
    }
  }
}
.page-white-content,
.private-police-container,
.gallery-container {
  padding-top: 30px;
  padding-bottom: 55px;
  overflow: hidden;
  &:before {
    height: 135px;
  }
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F4EAE4;
  }
  .container {
    position: relative;
    z-index: 5;
  }

}
.gallery-list {
  .item {
    padding: 15px;
    .box {
      position: relative;
      display: block;
      width: 100%;
      border: none;
      color: #FFF;
      img {
        display: block;
        width: 100%;
      }
      &:before {
        width: 100%;
        height: 100%;
        content: '';
        z-index: 5;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(45,38,33,.7);
        opacity: 0;
        visibility: hidden;
        @include transition();
      }
      &:hover {
        &:before {
          opacity: 1;
          visibility: visible;
        }
      }
      .in {
        padding: 0;
        position: relative;
        &:after,
        &:before {
          content: '';
          background: $brown;
          top: -5px;
          left: -5px;
          position: absolute;
        }
        &:after {
          height: 100%;
          width: 1px;
        }
        &:before {
          width: 100%;
          height: 1px;
        }
      }

      .info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px;
        z-index: 10;
      }
    }
  }
}
.pagination {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    li {
      padding: 0 5px;
      &:after {
        display: none;
      }
      span,
      a {
        color: $brown;
        display: flex;
        align-items: center;justify-content: center;
        min-width: 26px;
        width: 26px;
        height: 26px;
        border: 1px solid rgba($brown, 0.5);
      }
      span {
        border-color: #332822;
      }
    }
  }
}
.page-desc {
  background: #9a7d6d;
  padding: 70px 0;
  color: #FFF;
  @include mq('tablet') {
    padding: 50px 0;
  }
}
.page-white-content,
.private-police-container {
  overflow: visible;
  padding-top: 1px;
  background: #F4EAE4;
  &.empty-page {
    &:before {
      height: 80px;
      max-height: 80px;
    }
    &:after {
      display: none!important;
    }
  }
  &:before {
    z-index: 3;
  }
  &:after {
    height: 400px;
    background: #EFD6C8;
    bottom: auto;
    top: 0;
  }
  .block-white {
    background: #FFF;
    padding: 35px;
    margin-top: -115px;
    @include mq('tablet') {
      padding: 20px;
      margin-top: -180px;

    }
  }
}
.events-carousel {
  margin-left: -15px;
  margin-right: -15px;
  padding-right: 200px;
  .slick-list {
    padding-top: 5px;
    overflow: visible;
  }

  .itm {
    padding: 0 15px;
    .box {
      position: relative;
      border: none;
      color: #FFF;
      display: block;
      .top {
        .date {
          margin-bottom: 1px;
        }
      }
      img {
        width: 100%;
      }
      &:after,
      &:before {
        content: '';
        background: #FFF;
        position: absolute;
        top: -5px;
        left: -5px;
      }
      &:before {
        height: 1px;
        width: 100%;
      }
      &:after {
        width: 1px;
        height: 100%;
      }
      .info {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 20px;
      }
    }
  }
}
.events-carousel-wrap {
  overflow: hidden;
  padding-left: 20px;
  padding-top: 50px;
  padding-bottom: 70px;
  @include mq('tablet', min) {
    position: absolute;
    visibility: hidden;
    z-index: -100000;
    opacity: 0;
    left: -100000px;
    width: 100%;
  }
  .events-carousel {
    padding-right: 0;
    .slick-dots {
      @extend .slick-dots.bordered;
    }
    .box {
      &:after,
      &:before {
        background: $brown;
      }
    }
  }
}
.evetns-container {
  &:before {
    display: none;
  }
}
.subscription {
  background: #9A7D6D;
  color: #FFF;
  padding: 50px 0;

  .row {
    .col {
      @include mq('tablet-wide') {
        width: 100%;
        min-width: 100%;

      }
    }
    .form-checkbox {
      margin-top: 20px;
      max-width: 145px;
      font-size: 12px;
      display: inline-block;
      @include mq('tablet-wide', min) {
        float: right;
      }
      @include mq('tablet-wide') {
        margin: 5px auto 0;
        display: block;
      }
      a {
        color: #FFF;
      }
    }
    .form-group {
      @include mq('tablet-wide', min) {
        margin-bottom: 0;
        .btn {
          margin: 27px 0 7px;
        }
      }
    }
  }
}
.evetns-container {
  .page-head {
    padding-bottom: 60px;
    .page-title {
      line-height: 1;
    }
  }
  .desc-bottom {
    padding: 70px 0;
  }
  .desc-pict {
    padding: 70px 0 100px;
    position: relative;
    @include mq('tablet-wide', min) {
      .desc {
        width: 50%;
        max-width: 357px;
      }
      .pict {
        position: absolute;
        width: 50%;
        left: 50%;
        top: -210px;
        padding-left: 30px;
        img {
          width: 100%;
        }
      }
    }

  }
  @include mq('tablet-wide') {
    @include mq('tablet', min) {
      .page-title {
        >* {
          font-size: 48px;
        }
      }
      .page-head {
        padding-bottom: 30px;
      }
      .desc-pict {
        padding-top: 50px;
        padding-bottom: 50px;
        .pict {
          float: right;
          margin: -200px -115px 20px 20px;
          max-width: 322px;
        }
      }
    }
  }
  @include mq('tablet') {
      padding-top: 0;
      .page-head {
        padding: 40px 0 50px;
      }
    .page-title {
      margin: 0;
      >* {
        font-size: 46px;
      }
    }
    .desc-bottom,
    .desc-pict {
      padding: 25px 0;
      .pict {
        margin-bottom: 25px;
      }
    }

  }
}
.picts-block {
  position: relative;
  z-index: 5;
  a {
    width: 25%;
    display: block;
    @include mq('tablet-wide') {
      width: 50%;
    }
    @include mq('tablet') {
      width: 100%;
    }
    overflow: hidden;
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
    img {
      @include transition();
      display: block;
      width: 100%;
    }
  }
}
.event-container {
  overflow: hidden;
  @include mq('tablet') {
    padding-top: 20px;
  }
  &:before {
    display: none;
  }
  ul li {
    margin-top: 10px;
  }
  @include mq('tablet-wide', min) {
    .desc {
      width: 50%;
      left: 50%;
      position: relative;
      padding-left: 30px;;
    }
  }
  .pict {
    img {
      display: block;
    }
    @include mq('tablet-wide') {
      margin: 0 -115px;
    }
    @include mq('tablet') {
      margin: 0 -20px;
    }
    @include mq('tablet-wide', min) {
      left: 0;
      top: 70px;
      position: absolute;
      width: 50%;
      padding-right: 30px;
      img {
        width: 100%;
      }

    }
  }
}
.map-pict {
  position: relative;
  z-index: 5;
  @include mq('tablet') {
    .container {
      padding: 0;
    }
  }
  @include mq('tablet-wide') {
    @include mq('tablet', min) {
      margin-top: -80px;

    }
    img {
      width: 100%;
    }
  }
}
.map-block {
  height: 440px;
  iframe {
    height: 100%;
  }
}

.popup {
  width: 100%;
  max-width: 380px;
  background: #FFF;
  padding: 50px 60px;
  display: none;
  @include mq('tablet') {
    padding: 50px 35px;
  }
  .form-control {
    border-color: #D7D5D4;
    background: #D7D5D4;
  }
  a {
    color: #000;
  }
}
.more {
  &:hover {
    font-weight: 700;
  }
}
.map-pict {
  overflow: hidden;
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
  img {
    @include transition();
  }
}
.slick-arrow {
  &:hover {
    transform: scale(1.1);
  }
}
.reck {
  &:hover {
    font-weight: bold;
  }
}

.vacancies-container {
  @include mq('tablet') {
    .filter-block a {
      margin: 0 10px 5px;
    }
  }
}

.video-resize {
  position: relative;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
  }
}
div.rest-container {
  .filter-block {
    @include mq('tablet') {
      margin-left: -20px;
      margin-right: -20px;
      justify-content: center;
      a {
        margin-left:  10px;
        margin-right:  10px;
      }

    }
  }
}
.search-page-list {
  .itm {
    padding: 50px 0 32px;
    border-top: 1px solid #BDA99F;
    @include mq('tablet') {
      padding: 20px 0;
    }
    &:first-child {
      border-top: none;
      padding-top: 0;
    }
    .title {
      margin: 0;
      line-height: 1.2;
    }
    .desc {
      margin-top: 35px;
      font-size: 14px;
      line-height: 20px;
      @include mq('tablet') {
        margin-top: 15px;
      }
    }
  }
}
.button-container {
  max-width: 100%;
}
