.btn {
  border: none;
  background: transparent;
  display: inline-block;
  color: #FFF;
  position: relative;
  padding: 6px 0;
  white-space: nowrap;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  min-width: 150px;
  font-family: $baseFF;
  transition: color 0.3s ease, background 0.3s ease;
  @include mq('tablet') {
    font-size: 8px;
  }
  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 25px);
    height: 8px;

  }
  &:before {
    border-bottom: 1px solid;
    border-radius: 0 0 8px 8px;
    bottom: 100%
  }
  &:after {
    border-top: 1px solid ;
    border-radius: 8px 8px 0 0;
    top: 100%;
  }

  &:hover {
    border: none;
    color: #efd6c8;
    font-family: $baseFF;
    font-weight: bold;

  }
  &:disabled,&[disabled], &:disabled:hover, &:disabled:focus {

  }
  &.btn-black {
    color: #000;
    &:hover {
      border: none;
      color: $brown;
    }
  }
  &.btn-brown {
    color: $brown;
    &:hover {
      border: none;
      color: $brown;
    }
  }
}
