.form-group {
  margin: 0 0 24px;
}
.inp-lbl {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  font-weight: 300;

}
.form-control {
  display: block;
  width: 100%;
  padding: 9px 15px;
  background: #CFC4BE;
  line-height: 20px;
  border: 1px solid #CFC4BE;
  resize: none;
  outline: none!important;
  &.is-error {
    border-color: #FF0000!important;
  }
}
.input-file {
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  .choice {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &.choice {

    .empty {
      display: none;
    }
  }
  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  .icon-wrap {
    width: 40px;
    min-width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $brown;
    margin-right: 10px;
    .icon {
      font-size: 30px;
    }
  }
}
.form-select-wrap {
  position: relative;
  &:before,
  &:after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #FFF transparent transparent transparent;
    pointer-events: none;
    position: absolute;
    top: 23px;
    right: 1rem;
    z-index: 1;
    margin-top: -3px;
  }
  &:before {
    top: 13px;
    border-width: 0 5px 6px 5px;
    border-color:  transparent transparent #FFF transparent;
  }
}
.form-select {
  display: block;
  width: 100%;
  background: rgba(#FFF, 0.5);
  height: 40px;
  -webkit-appearance: none;/* Chrome */
  -moz-appearance: none;
  color: $brown;
  outline: none!important;
  padding: 0 11px;
}
.inp-checkbox,
.inp-radio {
  position: absolute;
  visibility: hidden;
  z-index: -100;
  opacity: 0;

}
$green: green;
$gray3: #ccc;
$checkbox-height: 16px;
$duration: .4s;
.inp-checkbox {
  &:checked {
    & + .form-checkbox{
      .icon-wrap {
        &::after{
          height: $checkbox-height * .5;
          animation: dothabottomcheck $duration/2 ease 0s forwards;
        }

        &::before{
          height: $checkbox-height * 1.2;
          animation: dothatopcheck $duration ease 0s forwards;
        }
      }
    }
  }

}
.form-radio,
.form-checkbox {
  padding-left: 22px;
  position: relative;
  cursor: pointer;
  &:hover {

  }
  .icon-wrap {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 3px;
    left: 0;
    border: 1px solid  $gray3;
    transition: border-color 0.3s ease;
  }
}
.form-checkbox {
  .icon-wrap {
    opacity: 0.7;
    &::before, &::after {
      position: absolute;
      height: 0;
      width: $checkbox-height * .15;
      background-color: currentColor;
      display: inline-block;
      transform-origin: left top;
      border-radius: 5px;
      content: ' ';
      margin-left: -2px;
    }
    &::before {
      top:$checkbox-height * .72;
      left: $checkbox-height * .41;
      transform: rotate(-135deg);
    }

    &::after {
      top: $checkbox-height * .37;
      left: $checkbox-height * .05;
      transform: rotate(-45deg);
    }
  }
}

@keyframes dothabottomcheck{
  0% { height: 0; }
  100% { height: $checkbox-height/2;  }
}

@keyframes dothatopcheck{
  0% { height: 0; }
  50% { height: 0; }
  100% { height: $checkbox-height * 1.1; }
}
.select2.select2-container--default {
  * {
    outline: none;
    box-shadow: none;
  }
  &.select2-container--focus {
    .select2-selection--single {
    }
  }
  &.select2-container--open {
    .select2-selection--single {
      .select2-selection__arrow {
        b {
          transform: translate(-50%, -50%) rotate(135deg);
        }
      }
    }
  }
  .select2-selection__placeholder {
    color: $baseFClr;
  }
  .select2-selection--single {
    border-radius: 0;
    border-color: rgba(255,255,255,0);
    background: rgba(255,255,255,.5);
    padding-left: 15px;
    padding-right: 40px;
    height: auto;
    min-height: 40px;
    transition: border-color 0.3s ease;
    .select2-selection__rendered {
      padding-top: 11px;
      padding-bottom: 10px;
      line-height: $baseLH;
    }
    .select2-selection__arrow {
      width: 40px;
      height: 100%;
      b {
        border: none;
        width: 12px;
        height: 12px;
        top: 50%;
        left: 50%;
        margin: 0;
        transform: translate(-50%, -70%) rotate(-45deg);

      }
    }
  }
}
.select2-container--default  {
  .select2-dropdown {
    border-color: transparent;
    background: rgba(#FFF, 0.5);
    border-radius: 0;
    @include mq('tablet') {
      background: rgba(#FFF, 0.9);

    }
  }
  .select2-results__option[aria-selected=true],
  .select2-results__option--highlighted[aria-selected] {
    background: rgba(#000, 0.5);
    color: #FFF;
  }
}
