.row {
  margin-left:  - ceil(($grid-gutter-width / 2));
  margin-right: - floor(($grid-gutter-width / 2));
  display: flex;
  flex-flow: row wrap;
  [class^="col"]{
    padding-left: ceil(($grid-gutter-width / 2));
    padding-right: floor(($grid-gutter-width / 2));
    flex-basis: 0;
    flex-grow: 1;
  }
}

@mixin make-grid-columns($i: 1, $list: ".col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}") {
  @for $i from (1 + 1) through $grid-columns {
    $list: "#{$list}, .col-xxs-#{$i}, .col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}";
  }
  #{$list} {
    position: relative;
    min-height: 1px;
    padding-left:  ceil(($grid-gutter-width / 2));
    padding-right: floor(($grid-gutter-width / 2));
  }
}

@mixin float-grid-columns($class, $i: 1, $list: ".col-#{$class}-#{$i}") {
  @for $i from (1 + 1) through $grid-columns {
    $list: "#{$list}, .col-#{$class}-#{$i}";
  }
  #{$list} {
    float: left;
  }
}


@mixin calc-grid-column($index, $class, $type) {
  @if ($type == width) and ($index > 0) {
    .col-#{$class}-#{$index} {
      width: percentage(($index / $grid-columns));
      flex: 0 0  percentage(($index / $grid-columns));
      max-width: percentage(($index / $grid-columns));
      min-width: percentage(($index / $grid-columns));
    }
  }





}
@mixin loop-grid-columns($columns, $class, $type) {
  @for $i from 0 through $columns {
    @include calc-grid-column($i, $class, $type);
  }
}

@mixin make-grid($class) {
  @include float-grid-columns($class);
  @include loop-grid-columns($grid-columns, $class, width);
  @include loop-grid-columns($grid-columns, $class, pull);
  @include loop-grid-columns($grid-columns, $class, push);
  @include loop-grid-columns($grid-columns, $class, offset);
}

@include make-grid-columns;

@media (min-width: 321px*1-1) {
  @include make-grid(xs);
}
@media (min-width: $breakpointsTablet*1-1) {
  @include make-grid(sm);
}
@media (min-width: $breakpointsTabletWide*1-1) {
  @include make-grid(md);
}
@media (min-width: $breakpointsDesktop*1-1) {
  @include make-grid(lg);
}
