@include classMod(d-block) {
  display: block;
}
@include classMod(d-flex) {
  display: flex;
}
@include classMod(d-inline-flex) {
  display: inline-flex;
}
@include classMod(d-inline-block) {
  display: inline-block;
}
@include classMod(d-none) {
  display: none;
}
@include classMod(flex-flow-row-wrap) {
  flex-flow: row wrap;
}
@include classMod(flex-flow-nowrap) {
  flex-flow: nowrap;
}
@include classMod(justify-content-center) {
  justify-content: center;
}
@include classMod(justify-content-start) {
  justify-content: flex-start;
}
@include classMod(justify-content-end) {
  justify-content: flex-end;
}
@include classMod(align-items-center) {
  align-items: center;
}
@include classMod(align-items-start) {
  align-items: flex-start;
}
@include classMod(align-items-end) {
  align-items: flex-end;
}
@for $i from -1 through 13 {
  @include classMod(order#{$i}) {
    order: $i;
  }
}
@include classMod(text-center) {
  text-align: center;
}
@include classMod(text-left) {
  text-align: left;
}
@include classMod(text-right) {
  text-align: right;
}
.transparent {
  background: transparent;
}
.txt-white {
  color: #FFF;
}
.bg-white {
  background: #FFF;
}
@include classMod(bold) {
  font-weight: bold;
}
@include classMod(semibold) {
  font-weight: 600;
}
@include classMod(medium) {
  font-weight: 500;
}
@include classMod(light) {
  font-weight: 300;
}
@include classMod(normal) {
  font-weight: 400;
}
@include classMod(extrabold) {
  font-weight: 900;
}
@include classMod(upper) {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.bg-light {
  background-color: #F4EAE4;
}
.bg-pink {
  background-color: #efd6c8;
}
@include  classMod(btn-fluid) {
  width: 100%;
  display: block;
}
$mws: 400;
@each $mw in $mws {
  .mw-#{$mw} {
    max-width: #{$mw}px;
    margin-left: auto;
    margin-right: auto;
  }
}
$margins: auto,0,5,10,15,20,25,30,35,40,45,50,55,60,65, 70, 75, 80, 85, 90, 95, 100, 110, 120, 130, 140;

@each $margin in $margins{
  @if $margin != auto {
    @include  classMod(mt-#{$margin}) {
      margin-top: #{$margin}px;
    }
    @include  classMod(mb-#{$margin}) {
      margin-bottom: #{$margin}px;
    }
    @include  classMod(ml-#{$margin}) {
      margin-left: #{$margin}px;
    }
    @include  classMod(mr-#{$margin}) {
      margin-right: #{$margin}px;
    }
  }
  @else {
  @include  classMod(mt-#{$margin}) {
    margin-top: #{$margin};
  }
  @include  classMod(mb-#{$margin}) {
    margin-bottom: #{$margin};
  }
  @include  classMod(ml-#{$margin}) {
    margin-left: #{$margin};
  }
  @include  classMod(mr-#{$margin}) {
    margin-right: #{$margin};
  }
}
}
$paddings: 0,5,10,15,20,25,30,35,40,45,50,55,60,65, 70, 75, 80, 85, 90, 95, 100, 110, 120;
@each $padding in $paddings {
  @include  classMod(p-#{$padding}) {
    padding: #{$padding}px;
  }
  @include  classMod(pt-#{$padding}) {
    padding-top: #{$padding}px;
  }
  @include  classMod(pl-#{$padding}) {
    padding-left: #{$padding}px;
  }
  @include  classMod(pr-#{$padding}) {
    padding-right: #{$padding}px;
  }
  @include  classMod(pb-#{$padding}) {
    padding-bottom: #{$padding}px;
  }
}
@for $i from 1 through 200 {
@include  classMod(fs-#{$i}) {
    font-size: #{$i}px;
  }
}
.w-100 {
  width: 100%;
}
