.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon_arrow-right {
  font-size:(63/10)*1rem;
  width:(381/63)*1em;
}
.icon_fb {
  font-size:(1024/10)*1rem;
  width:(1024/1024)*1em;
}
.icon_inst {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon_search {
  font-size:(24/10)*1rem;
  width:(24/24)*1em;
}
.icon_star {
  font-size:(247/10)*1rem;
  width:(214.3/247)*1em;
}
.icon_tg {
  font-size:(240/10)*1rem;
  width:(240/240)*1em;
}
.icon_upload {
  font-size:(320/10)*1rem;
  width:(320/320)*1em;
}
.icon_yt {
  font-size:(192/10)*1rem;
  width:(192/192)*1em;
}
