.hourse-container {

}
.hourse-specifications {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 65px 0 220px;
  color: #FFF;
  @include mq('tablet') {
    color: $brown;
    background: #F5EAE4!important;
    padding: 30px 0 0;
  }
  .pict {
    margin: 40px -20px 0;
    img {
      display: block;
    }
  }
  .list {
    @include mq('tablet') {
      padding-left: 20px;
    }
    .itm {
      margin-top: 20px;
      max-width: 290px;
      position: relative;
      &:first-child {
        margin-top: 0;
      }
      .icon_star {
        position: absolute;
        width: 15px;
        height: 15px;
        left: -20px;
        top: 2px;
      }
      .val {
        font-size: 24px;
      }
    }
  }
}
.desc-col {
  .white-block {
    padding: 85px 90px  110px;
    margin-left: -90px;
    margin-top: -145px;
    background: #FFF;
    @include mq('desktop') {
      padding: 60px;
      margin-left: -60px;
    }
    @include mq('tablet-wide') {
      padding: 60px;
      margin-left: 0;
    }
    @include mq('tablet') {
      margin: 0 -20px;
      padding: 20px;
    }

    .title {

    }
  }
  .border-pict {
    @include mq('tablet') {
      margin-right: -20px;
    }
  }
}
.hourse-gallery {
  padding: 85px 0;
  overflow: hidden;
  position:relative;;
  @include mq('tablet') {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &:before {
    content: '';
    width: 100%;
    position: absolute;
    height: 150px;
    margin-left: -565px;
    bottom: 0;
    left: 50%;
    background: #F4EAE4;
    @include mq('desktop') {
      left: 60px;
      margin: 0;
    }
    @include mq('tablet') {
      left: 0;
      height: 200px;
    }
  }
  .carousel-wrap {
    margin-left: -15px;
    margin-top: 65px;
    padding-right: 20%;
    @include mq('tablet-wide') {
      padding-right: 25%;
    }
    @include mq('tablet') {
      padding-right: 0;
      margin-right: -20px;
      margin-left: -20px;
    }
    ul.slick-dots {
      @extend .slick-dots.bordered;
      @include mq('tablet') {
        margin-left: 26px!important;
      }
    }
    .slick-list {
      overflow: visible;
    }
    .item {
      padding: 0 15px;
      @include mq('tablet') {
        padding-right: 0;
        padding-left: 20px;
      }
      img {
        width: 100%;
      }
    }
  }
}
.desc-container {
  position: relative;
  @include mq('tablet-wide', min) {
    .pict {
      width: 50%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      img {
        display: block;
        max-width: none;
        float:right;
        min-height: 100%;
        min-width: 100%;
      }
    }
    .desc {
      padding-left: 90px;
      padding-bottom: 150px;
    }
  }
  @include mq('tablet-wide') {
    .pict {
      img {
        width: 100%;
      }
    }
    .desc {
      padding: 70px;
      @include mq('tablet') {
        padding: 50px 0 50px;
      }
    }
  }
}
