.page-content.hourse-container
  .page-head
    .container
      .back.light
        a(href="#").lnk_reverse.upper << Назад ко всем лошадям
      .page-title.text-center_xs.has-rear
        h1 Палентино
          span.rear Палентино
    .hourse-specifications.lazy(data-bg="images/hourse.jpg")
      .container
        .list.upper
          .itm
            +svg('star')
            .ttl Порода
            .val.extrabold Андалузская
          .itm
            +svg('star')
            .ttl Примерный рост
            .val.extrabold до 158 см в холке
          .itm
            +svg('star')
            .ttl Масти
            .val.extrabold серая, гнедая, вороная,  рыжая, чалая
          .itm
            +svg('star')
            .ttl Место происхождения
            .val.extrabold Испания
        .pict.d-none.d-block_xs
          +webp('images/hourse.jpg')
    .desc-col.bg-light
      .container
        .row
          .col-md-5.col-xs-12
            .white-block
              .title.upper.extrabold.h3 Заголовок
              p
                | Жеребец андалузской породы, серой масти. Родился 28 февраля 2010 года в Испании.  Является сыном известного андалузского жеребца по кличке UNIFICADO  и андалузской кобылы по кличке PALENTINA. Приехал в КСК Алискино в 2013 году. Проходил тренинг и обучение согласно своему возрасту и индивидуальным породным особенностям.
              p
                | Жеребец андалузской породы, серой масти. Родился 28 февраля 2010 года в Испании.  Является сыном известного андалузского жеребца по кличке UNIFICADO  и андалузской кобылы по кличке PALENTINA. Приехал в КСК Алискино в 2013 году. Проходил тренинг и обучение согласно своему возрасту и индивидуальным породным особенностям.
          .col-md-6.col-xs-12
            .border-pict.mt-80.mb-70.mt-40_xs.mb-40_xs
                a(href='images/horse-pict1.jpg' data-fancybox).in
                  +webp('images/horse-pict1.jpg')
    .hourse-gallery
      .container
        p Работается и стартует в дисциплине «Выездка», также знает и совершенствует элементы «работы на вожжах». Незаменимый участник внутренних и выездных конных шоу.  Замечательно себя показывает в котильонах и в сольных номерах, демонстрируя незаурядный ум и менталитет истинного надёжного партнёра.
        .carousel-wrap
          .carousel
            .item
              .border-pict
                a(href='images/pict-1.jpg' data-fancybox="gallery-houre").in
                  +webp('images/pict-1.jpg')
            .item
              .border-pict
                a(href='images/pict-2.jpg' data-fancybox="gallery-houre").in
                  +webp('images/pict-2.jpg')
            .item
              .border-pict
                a(href='images/pict-3.jpg' data-fancybox="gallery-houre").in
                  +webp('images/pict-3.jpg')
            .item
              .border-pict
                a(href='images/pict-1.jpg' data-fancybox="gallery-houre").in
                  +webp('images/pict-1.jpg')
            .item
              .border-pict
                a(href='images/pict-2.jpg' data-fancybox="gallery-houre").in
                  +webp('images/pict-2.jpg')
            .item
              .border-pict
                a(href='images/pict-3.jpg' data-fancybox="gallery-houre").in
                  +webp('images/pict-3.jpg')
    .bg-light.desc-container
      .container
        br
        p Лошадь только под опытного всадника, спокойного и уравновешенного, умеющего контролировать импульсы своего тела и чётко формулировать свои команды для лошади. Имеет лицензию жеребца-производителя. В случке деликатен и нежен. Приглашает дам андалузской и других пород на случную компанию.
        br
        br
    .bg-light.desc-container
      .pict
        +webp('images/desc-bg.jpg')
      .container
        .row.justify-content-end
          .col-md-6.col-xs-12
            .desc
              h3 Заголовок
              p Порода установилась в результате скрещивания берберийских и арабских лошадей с местным испанским поголовьем. Стала улучшателем ряда пород: голдштинской, ольденбургской, фредериксборгской, кладрубера, липицианской, хакнэ, фризской, криольской. Андалузы отличаются красивой головой с широким лбом, прямым или выпуклым профилем и большими выпуклыми глазами. Шея часто бывает довольно крепкой, красиво изогнутой и высоко поставленной. Грудь глубокая, широкая, живот округлый, хвост низко приставленный, густой. Обладают горделивой осанкой и эффектным ходом. У них прекрасный нрав, послушный и спокойный, но энергичный и смелый. Благодаря этому широко используются в качестве верховых спортивных лошадей и на арене для боя быков.
