extends extends/base.pug
append vars
  - var pageUrl = '404.html';
  - var classBody = 'page-not-found';
block content
  include ../components/main-banner/template
  +mainBanner({
    items: [
      {
        bg: 'images/404.jpg',
        class: 'page-404 inner-section',
      }
    ]
  })

block scripts
