extends extends/base.pug
append vars
  - var pageUrl = 'about.html';
  - var pageTitle = 'О клубе';
block content
  include ../components/main-banner/template
  +mainBanner({
    items: [
      {
        bg: 'images/main-slide2.jpg',
        class: 'inner-section bg-fixed',
        title: 'О клубе',
        classTitle: 'extrabold',
        bottom: {
          ttl: 'Вступительный небольшой текст',
          text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
          btn: 'Узнать больше о клубе',
          classBtn: 'anchore-half-height',
        }
      }
    ]
  })

  .page-content
    .container
      .page-title.text-center_xs
        h1 Конный комплекс
        include ../components/announcement-tabs/template
    +announcementTabs()
    include ../components/about-desc/template
    +aboutDesc()(data-bg='images/about-bg.jpg').lazy
    include ../components/livestock-list/template
    +livestockList({
      title: 'Наше поголовье',
      items: [
        {
          pict: 'images/horse1.jpg',
          nick: 'Палентино',
          champ: true,
          char: [
            {ttl: 'Порода', val: ': ????????????'},
            {ttl: 'Возраст', val: '5 лет'}
          ]
        },
        {
          pict: 'images/horse2.jpg',
          nick: 'Палентино',
          char: [
            {ttl: 'Порода', val: ': ????????????'},
            {ttl: 'Возраст', val: '5 лет'}
          ]
        },
        {
          pict: 'images/horse3.jpg',
          nick: 'Палентино',
          char: [
            {ttl: 'Порода', val: ': ????????????'},
            {ttl: 'Возраст', val: '5 лет'}
          ]
        },
        {
          pict: 'images/horse4.jpg',
          nick: 'Палентино',
          char: [
            {ttl: 'Порода', val: ': ????????????'},
            {ttl: 'Возраст', val: '5 лет'}
          ]
        },
        {
          pict: 'images/horse5.jpg',
          nick: 'Палентино',
          char: [
            {ttl: 'Порода', val: ': ????????????'},
            {ttl: 'Возраст', val: '5 лет'}
          ]
        },
        {
          pict: 'images/horse6.jpg',
          nick: 'Палентино',
          char: [
            {ttl: 'Порода', val: ': ????????????'},
            {ttl: 'Возраст', val: '5 лет'}
          ]
        },
        {
          pict: 'images/horse7.jpg',
          nick: 'Палентино',
          char: [
            {ttl: 'Порода', val: ': ????????????'},
            {ttl: 'Возраст', val: '5 лет'}
          ]
        },
        {
          pict: 'images/horse3.jpg',
          nick: 'Палентино',
          char: [
            {ttl: 'Порода', val: ': ????????????'},
            {ttl: 'Возраст', val: '5 лет'}
          ]
        }
      ]
    }).bg-light



block scripts
