extends extends/base.pug
append vars
  - var pageUrl = 'contacts.html';
  - var pageTitle = 'Контакты';
  - var classBody = 'contacts-page';
block content
  include ../components/main-banner/template
  +mainBanner({
    items: [
      {
        class: 'contacts-section',
        bg: 'images/contacts-bg.jpg',
      },
    ]
  })
  .map-pict.d-none_lg.d-none_md
    .container
      +webp('images/map-pict.jpg').d-block
  #map.map-block.
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Adf9881cdb2cbdf8f27db3f150832b4da481b9c4626a676316bcb49897fe87c6a&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>

  .qr-block.d-none.d-block_xs.pt-30.pb-30
    +webp('images/qr.jpg').d-block.ml-auto.mr-auto




block scripts

