extends extends/base.pug
append vars
  - var pageUrl = 'events.html';
  - var pageTitle = 'Мероприятия';
block content
  include ../components/main-banner/template
  +mainBanner({
    items: [
      {
        class: 'events-section',
        bg: 'images/main-slide5.jpg',
      },
    ]
  })
  .events-carousel-wrap
    +eventsCarousel([
      {
        pict: 'images/event-1.jpg',
        type: 'Конкурс',
        date: '10.08.2020',
        ttl: 'Очаровательная <br>всадница'
      },
      {
        pict: 'images/event-2.jpg',
        type: 'Соревнования',
        date: '10.08.2020',
        ttl: 'Очаровательная <br>всадница'
      },
      {
        pict: 'images/event-3.jpg',
        type: 'Конное шоу',
        date: '10.08.2020',
        ttl: 'Очаровательная <br>всадница'
      },
      {
        pict: 'images/event-1.jpg',
        type: 'Конкурс',
        date: '10.08.2020',
        ttl: 'Очаровательная <br>всадница'
      },
      {
        pict: 'images/event-2.jpg',
        type: 'Конкурс',
        date: '10.08.2020',
        ttl: 'Очаровательная <br>всадница'
      },
      {
        pict: 'images/event-3.jpg',
        type: 'Конкурс',
        date: '10.08.2020',
        ttl: 'Очаровательная <br>всадница'
      }
    ])
  .subscription
    .container
      form.row
        .col.col-md-4.col-xs-12.col-sm-6.pt-10_lg.pt-15_md
          .ttl.fs-18.upper.extrabold.text-center_xs.mb-20_xs
            | Подписаться
            | на рассылку о мероприятиях
        .col.col-md-5.col-xs-12.col-sm-6
          +field({
            type: 'email',
            lbl: 'E-mail'
          })
        .col.col-md-3.col-xs-12.pt-10_lg.pt-15_md
          .form-group.text-right.text-center_xs.text-center_sm.mt-20_sm.mt-20_xs
            button.btn ПОДПИСАТЬСЯ
          +field({
            type: 'checkbox',
            checked: true,
            lbl: 'Я согласен на <a href="#">обработку персональных данных</a>'
          })
  .page-content.evetns-container
    .container
      .page-head
        .page-title.text-center_xs
          h1.
            Мероприятия <br> КСК Алискино
    .desc-pict.bg-light
      .container
        .pict
          +webp('images/ev.jpg')
        .desc
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    .picts-block.d-flex.flex-flow-row-wrap
      a(href="images/about-pict1.jpg" data-fancybox="about-desc")
        +webp('images/about-pict1.jpg')
      a(href="images/about-pict2.jpg" data-fancybox="about-desc")
        +webp('images/about-pict2.jpg')
      a(href="images/about-pict3.jpg" data-fancybox="about-desc")
        +webp('images/about-pict3.jpg')
      a(href="images/about-pict4.jpg" data-fancybox="about-desc")
        +webp('images/about-pict4.jpg')
    .desc-bottom.bg-light
      .container
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.



block scripts
