extends extends/base.pug
append vars
  - var pageUrl = 'event.html';
  - var pageTitle = 'Мероприятие';
block content
  include ../components/main-banner/template
  +mainBanner({
    items: [
      {
        class: 'event-section',
        bg: 'images/event-bg.jpg',
      },
    ]
  })

  .page-content.event-container
    .page-top
      .container
          .desc.pb-70.pb-25_xs
            .page-title.no-border.upper
              h2.
                Вас ожидает
                невероятное шоу!
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          .pict
            +webp('images/event-pict.jpg')
    .page-bottom.bg-light.pt-70.pb-70.pt-25_xs.pb-25_xs
      .container
        .desc
          ul
            li Lorem ipsum dolor sit amet, consectetur
            li Proin gravida dolor sit amet lacus accumsan et
            li Sociis natoque penatibus
            li Lorem ipsum dolor sit amet, consectetur
            li Proin gravida dolor sit amet lacus accumsan et
            li Sociis natoque penatibus
        p.mt-100_lg.mt-20 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
  .signup-event.pt-70.pb-70.pt-25_xs.pt-25_sm.pb-25_xs.pb-25_sm
    .container
      .d-flex.flex-flow-row-wrap.justify-content-center.align-items-center.text-center_sm.text-center_xs
        .ttl.h3.mb-0.upper.extrabold.mb-20_xs.mb-20_sm Записаться на мероприятие
        a(href="#popup" data-fancybox).btn Записаться
  .loock-photo.bg-light.pt-70.pb-70.text-center
    .container
      .ttl.uppper.extrabold.h3 Посмотрите фото прошедшего мероприятия
      .btn-wrap
        a(href="#").btn.btn-brown Смотреть фото

  append popups
    .popup#popup
      .title.h3.extrabold.upper.text-center Заказать звонок
      form
        +field({
          lbl: 'Имя',
          classInput: 'js-required'
        })
        +field({
          type: 'email',
          lbl: 'E-mail',
          classInput: 'js-required'
        })
        +field({
          lbl: 'Телефон',
          classInput: 'js-required'
        })
        .form-group.mt-50
          button(type='submit').btn.btn-black.js-submit Отправить
        +field({
          type: 'checkbox',
          checked: true,
          lbl: 'Я согласен на <a href="#">обработку персональных данных</a>'
        })

block scripts
