extends extends/base.pug
append vars
  - var pageUrl = 'gallery.html';
  - var pageTitle = 'Галерея';
  - var classBody = 'gallery-page';
block content
  include ../components/main-banner/template
  +mainBanner({
    items: [
      {
        class: 'gallery-section',
        bg: 'images/gallery-bg.jpg',
      }
    ]
  })
  .page-content.gallery-container
    .container
      mixin galleryList(data)
        .gallery-list.row
          each itm in data
            .item.col-md-4.col-xs-12.col-sm-6
              a(href="gallery-detail.html").box
                .in
                  +webp(itm.pict)
                  .info
                    .date.fs-10!=itm.date
                    .ttl.upper.fs-18.extrabold!=itm.ttl
      +galleryList([
        {
          pict: 'images/gallery.jpg',
          date: '01.02.2020',
          ttl: 'Конкурс "Очаровательная всадница"'
        },
        {
          pict: 'images/gallery.jpg',
          date: '01.02.2020',
          ttl: 'Конкурс "Очаровательная всадница"'
        },
        {
          pict: 'images/gallery.jpg',
          date: '01.02.2020',
          ttl: 'Конкурс "Очаровательная всадница"'
        },
        {
          pict: 'images/gallery.jpg',
          date: '01.02.2020',
          ttl: 'Конкурс "Очаровательная всадница"'
        },
        {
          pict: 'images/gallery.jpg',
          date: '01.02.2020',
          ttl: 'Конкурс "Очаровательная всадница"'
        },
        {
          pict: 'images/gallery.jpg',
          date: '01.02.2020',
          ttl: 'Конкурс "Очаровательная всадница"'
        },
        {
          pict: 'images/gallery.jpg',
          date: '01.02.2020',
          ttl: 'Конкурс "Очаровательная всадница"'
        },
        {
          pict: 'images/gallery.jpg',
          date: '01.02.2020',
          ttl: 'Конкурс "Очаровательная всадница"'
        },
        {
          pict: 'images/gallery.jpg',
          date: '01.02.2020',
          ttl: 'Конкурс "Очаровательная всадница"'
        },
        {
          pict: 'images/gallery.jpg',
          date: '01.02.2020',
          ttl: 'Конкурс "Очаровательная всадница"'
        },
        {
          pict: 'images/gallery.jpg',
          date: '01.02.2020',
          ttl: 'Конкурс "Очаровательная всадница"'
        },
        {
          pict: 'images/gallery.jpg',
          date: '01.02.2020',
          ttl: 'Конкурс "Очаровательная всадница"'
        }
      ])
      +pagination().mt-40







block scripts
