extends extends/base.pug
append vars
  - var pageUrl = 'gallery-detail.html';
  - var pageTitle = 'Галерея';
  - var classBody = 'gallery-page-detail';

block content
  include ../components/main-banner/template
  +mainBanner({
    items: [
      {
        class: 'gallery-section',
        bg: 'images/gallery-bg.jpg',
      }
    ]
  })
  .page-content.gallery-container.no-before
    .page-desc
      .container
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
    .container.pt-50
      mixin galleryList(data)
        .gallery-list.row
          each itm in data
            .item.col-md-4.col-xs-12.col-sm-6
              a(href=itm.pict data-fancybox="gallery").box
                .in
                  +webp(itm.pict)
      +galleryList([
        {
          pict: 'images/gallery.jpg',
        },
        {
          pict: 'images/gallery.jpg',
        },
        {
          pict: 'images/gallery.jpg',
        },
        {
          pict: 'images/gallery.jpg',
        },
        {
          pict: 'images/gallery.jpg',
        },
        {
          pict: 'images/gallery.jpg',
        },
        {
          pict: 'images/gallery.jpg',
        },
        {
          pict: 'images/gallery.jpg',
        },
        {
          pict: 'images/gallery.jpg',
        },
        {
          pict: 'images/gallery.jpg',
        },
        {
          pict: 'images/gallery.jpg',
        },
        {
          pict: 'images/gallery.jpg',
        }
      ])
      +pagination().mt-40







block scripts
