extends extends/base.pug
append vars
  - var pageUrl = 'homepage.html';
  - var classBody = 'homepage';
block content
  include ../components/main-banner/template
  +mainBanner({
    items: [
      {
        index: '1',
        bg: 'images/main-slide1.jpg',
        bgMobile: 'images/main-banner-mobile1.jpg',
        class: 'main-section',
        title: 'Алискино',
        classTitle: 'extrabold',
        subtitlePos: 'top',
        subtitle: 'Конно-спортивный клуб',
        classSubtitle: 'upper fs-16 ml-30 ml-0_xs',
      },
      {
        bg: 'images/main-slide2.jpg',
        class: 'inner-section',
        title: 'О клубе',
        classTitle: 'extrabold',
        bottom: {
          ttl: 'Вступительный небольшой текст',
          text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
          btn: 'Узнать больше о клубе'
        }
      },
      {
        bg: 'images/main-slide3.jpg',
        class: 'inner-section team-section',
        title: 'Команда',
        classTitle: 'extrabold',
        bottom: {
          ttl: 'Вступительный небольшой текст',
          text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
          btn: 'Познакомьтесь с командой'
        }
      },
      {
        bg: 'images/main-slide4.jpg',
        class: 'inner-section',
        title: 'Отдыха',
        classTitle: 'extrabold',
        subtitlePos: 'top',
        subtitle: '10 Видов',
        classSubtitle: 'upper fs-16',
        bottom: {
          ttl: 'Вступительный небольшой текст',
          text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
          btn: 'Узнать больше'
        }
      },
      {
        bg: 'images/main-slide5.jpg',
        class: 'inner-section events-section',
        title: 'Мероприятия',
        classTitle: 'extrabold long-title',
        subtitlePos: 'top',
        subtitle: 'Посетите наши',
        classSubtitle: 'upper fs-16',
        bottom: {
          events: [
            {
              date: '10.08.2020',
              ttl: 'Соревнования ХХХ'
            },
            {
              date: '15.08.2020',
              ttl: 'Выставка ХХХ'
            },
            {
              date: '17.08.2020',
              ttl: 'Семейный день ХХХ'
            },
            {
              date: '10.08.2020',
              ttl: 'Соревнования ХХХ'
            },
            {
              date: '15.08.2020',
              ttl: 'Выставка ХХХ'
            },
            {
              date: '17.08.2020',
              ttl: 'Семейный день ХХХ'
            }
          ],
          btn: 'посмотреть мероприятия'
        }
      },
      {
        bg: 'images/main-slide6.jpg',
        class: 'inner-section news-section',
        title: 'Новости клуба',
        classTitle: 'extrabold text-nowrap-normal',
        subtitlePos: 'top',
        subtitle: 'Узнайте свежие',
        classSubtitle: 'upper fs-16',
        bottom: {
          ttl: 'Вступительный небольшой текст',
          text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
          btn: 'Посмотреть новости'
        }
      },
      {
        bg: 'images/main-slide7.jpg',
        class: 'inner-section gallery-section',
        title: 'Фото <br> и видео',
        classTitle: 'extrabold text-nowrap-normal',
        bottom: {
          ttl: 'Вступительный небольшой текст',
          text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
          btn: 'Посмотреть галерею'
        }
      },
      {
        bg: 'images/main-slide8.jpg',
        class: 'inner-section contacts-section',
        title: 'Контакты',
        classTitle: 'extrabold',
        bottom: {
          ttl: 'Вступительный небольшой текст',
          text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
          btn: 'Узнать больше о клубе'
        }
      }
    ]
  })

block scripts
