extends extends/base.pug
append vars
  - var pageUrl = 'horse.html';
  - var pageTitle = 'О клубе - конкретная лошадь';
  - var classBody = 'hourse-page';
block content
  include ../components/main-banner/template
  +mainBanner({
    items: [
      {
        bg: 'images/main-slide9.jpg',
      }
    ]
  })
  include ../components/hourse-container/template




block scripts
