extends extends/base.pug
append vars
  - var pageUrl = 'index.html';
  - var pageTitle = 'Структура сайта';
  - var classBody = 'uikit';
  - var headerBg = 'images/main-banner.jpg';
block styles
  link(href="css/index.css", rel="stylesheet" )
block content
  br
  br
  br
  br
  br
  br
  br
  .container
      h1 Страницы проекта
      +listLink({
        tagName: 'ol',
          items: [
            {ttl: 'Главная страница', url: 'homepage.html', target: '_blank'},
            {ttl: 'О клубе', url: 'about.html', target: '_blank'},
            {ttl: 'О клубе - конкретная лошадь', url: 'horse.html', target: '_blank'},
            {ttl: 'Команда', url: 'team.html', target: '_blank'},
            {ttl: 'Работник', url: 'worker.html', target: '_blank'},
            {ttl: 'Страница вакансии', url: 'vacancy.html', target: '_blank'},
            {ttl: 'Отдых', url: 'rest.html', target: '_blank'},
            {ttl: 'Мероприятия', url: 'events.html', target: '_blank'},
            {ttl: 'Мероприятие', url: 'event.html', target: '_blank'},
            {ttl: 'Новости', url: 'news.html', target: '_blank'},
            {ttl: 'Галерея общая', url: 'gallery.html', target: '_blank'},
            {ttl: 'Галерея - страница мероприятия', url: 'gallery-detail.html', target: '_blank'},
            {ttl: 'Политика ', url: 'private-police.html', target: '_blank'},
            {ttl: 'Страница поиска ', url: 'search-page.html', target: '_blank'},
            {ttl: '404 ', url: '404.html', target: '_blank'},
          ]
        })
      br
      br
      h2 Попап
      a(href="#popup-report" data-fancybox) #popup-report
      br
      br
      br
      .tabs-panel
        .in
          a(href="#tab1" data-tab).is-active Заголовки
          a(href="#tab2" data-tab) Элементы форм
          a(href="#tab3" data-tab) Кнопки
          a(href="#tab4" data-tab) Иконки
      .tabs-wrap
        .tab#tab1
          h1 Заголовок h1
          h2 Заголовок h2
          h3 Заголовок h3
          h4 Заголовок h4
        .tab#tab2
          h1 Элементы форм
          +field({
            lbl: 'Введите логин <span class="txt-red">*</span>',
            classInput: 'js-required',
          })
          +field({
            lbl: 'Введите логин <span class="txt-red">*</span>',
            classInput: 'js-required',
            value: 'value'
          })
        .tab#tab3.is-visible
          h1 Кнопки
          a(href="#").btn button
          a(href="#").btn.btn-yellow button
          a(href="#").btn.btn-border button
        .tab#tab4
          h1 Иконки
          mixin iconList(data)
            .icon-list.d-flex.flex-flow-row-wrap
              each itm in data
                .item.p-5
                  +svg(itm).fs-24
          +iconList(['arrow-right','star','search','fb','tg','yt','inst','upload'])

append popups
  .popup#popup-report.text-center.pl-30.pr-30
    .title.h3.extrabold.upper.text-center Ваша заявка принята.
    .text.fs-18 На вашу почту отправлено сообщение.
    .text-center.mt-50
      button(type='button', data-fancybox-close).btn.btn-black.js-submit Закрыть
block scripts
