extends extends/base.pug
append vars
  - var pageUrl = 'private-police.html';
  - var pageTitle = 'Галерея';
  - var classBody = 'private-police';

block content
  include ../components/main-banner/template
  +mainBanner({
    items: [
      {
        bg: 'images/private-police.jpg',
      }
    ]
  })
  .page-content.private-police-container
    .container
      .block-white
        .h3.upper Общие положения
        p
          | Настоящие Положение о политике конфиденциальности (далее — Положение) является официальным документом ООО «АСТОНИА», расположенного по адресу: 105120, г. Москва, Костомаровский переулок, д. 3, стр. 12 (далее — «Компания»/ «Оператор»), и определяет порядок обработки и защиты информации о физических лицах (далее — Пользователи), пользующихся сервисами, информацией, услугами, программами (в т.ч. программами лояльности) и продуктами сайта, расположенного на доменном имени astonia.ru (далее — Сайт).
        p
          | Соблюдение конфиденциальности важно для Компании, ведь целью данной Политики конфиденциальности является обеспечение защиты прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну, от несанкционированного доступа и разглашения.
        p
          | Мы разработали Политику Конфиденциальности, которая описывает, как мы осуществляем обработку персональных данных — любые действия (операции) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
        p
          | Отношения, связанные с обработкой персональных данных и информации о пользователях Сайта, регулируются настоящим Положением, иными официальными документами Оператора и действующим законодательством РФ.
        p
          | Обработка персональных данных осуществляется нами на законной и справедливой основе, действуя разумно и добросовестно и на основе принципов:
          br
          | — законности целей и способов обработки персональных данных;
          br
          | — добросовестности;
          br
          | — соответствия целей обработки персональных данных целям, заранее определенным и заявленным при сборе персональных данных, а также полномочиям Компании;
          br
          | — соответствия объема и характера обрабатываемых персональных данных, способов обработки персональных данных целям обработки персональных данных
          br
        p
          | Настоящая Политика Конфиденциальности регулирует любой вид обработки персональных данных и информации личного характера (любой информации, позволяющей установить личность, и любой иной информации, связанной с этим) о физических лицах, которые являются потребителями продукции или услуг Компании.
        p
          | Настоящая Политика распространяется на обработку личных, персональных данных, собранных любыми средствами, как активными, так и пассивными, как через Интернет, так и без его использования, от лиц, находящихся в любой точке мира.
        .h3.upper.extrabold  Сбор персональных данных
        p
          | Целью обработки персональных данных является выполнения обязательств Оператора перед Пользователями в отношении использования Сайта и его сервисов.
        p
          | Обработка персональных данных пользователей осуществляется с согласия субъекта персональных данных на обработку его персональных данных.
        p
          | Под персональными данными понимается любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных) и которая может быть использована для идентификации определенного лица либо связи с ним.
        p
          | Мы можем запросить у Вас персональные данные в любой момент, когда Вы связываетесь с Компанией. Компания может использовать такие данные в соответствии с настоящей Политикой Конфиденциальности. Она также может совмещать такую информацию с иной информацией для целей предоставления и улучшения своих продуктов, услуг, информационного наполнения (контента) и коммуникаций.
        p
          | Ниже приведены некоторые примеры типов персональных данных, которые Компания может собирать, и как мы можем использовать такую информацию.
        .h3.extrabold.upper Какие персональные данные мы собираем
        p
          | Мы можем собирать различные данные/информацию, включая:
          |
          | — имя и фамилию,
          br
          | — дату рождения;
          br
          | — пол, семейное положение;
          br
          | — почтовый адрес;
          br
          | — номер телефона;
          br
          | — адрес электронной почты;
          br
          | — информацию об избранных контактах;
          br
          | — информацию о банковских картах (ФИО, № карты).
        p
          | Персональные данные могут также включать в себя дополнительно предоставляемые Пользователями по запросу Оператора в целях исполнения Оператором обязательств перед Пользователями, вытекающих из договора на оказание услуг. Оператор вправе, в частности, запросить у Пользователя копию документа, удостоверяющего личность, либо иного документа, содержащего имя, фамилию, фотографию Пользователя, а также иные дополнительные данные, которые, по усмотрению Оператора, будут являться необходимыми и достаточными для идентификации такого Пользователя и позволят исключить злоупотребления и нарушения прав третьих лиц.
        p
          | Когда Вы привлекаете к нашим мероприятиям и активностям других лиц или приглашаете их к коммуникациям с нами, Компания может собирать предоставляемые Вами персональные данных об этих лицах, такую как: имя, фамилия, дата рождения, почтовый адрес, адрес электронной почты и номер телефона.
        p
          | При обработке персональных данных нами обеспечивается точность персональных данных, их достаточность, а в необходимых случаях и актуальность по отношению к целям обработки персональных данных.
        .h3.extrabold.upper Хранение и использование персональных данных
        p
          | Персональные данные Пользователей хранятся исключительно на электронных носителях и обрабатываются с использованием автоматизированных систем, за исключением случаев, когда неавтоматизированная обработка персональных данных необходима в связи с исполнением требований законодательства.
        .h3.extrabold.upper Как мы используем Вашу персональную информацию
        p
          | Собираемые нами персональные данные позволяют направлять Вам уведомления о новых продуктах, специальных предложениях и различных событиях. Они также помогает нам улучшать наши услуги, контент и коммуникации. Если Вы не желаете быть включенным в наш список рассылки, Вы можете в любое время отказаться от рассылки путём информирования нас по указанным контактам для обратной связи.
        p
          | Время от времени мы можем использовать Ваши персональные данные для отправки важных уведомлений, содержащих информацию об изменениях наших положений, условий и политик, а также подтверждающих размещенные Вами заказы и совершенные покупки. Поскольку такая информация важна для Ваших взаимоотношений с Компанией, Вы не можете отказаться от получения таких сообщений.
        p
          | Мы также можем использовать персональную информацию для внутренних целей, таких как: проведение аудита, анализ данных и различных исследований в целях улучшения продуктов и услуг Компании, а также взаимодействие с потребителями.
        p
          | Если Вы принимаете участие в розыгрыше призов, конкурсе или похожем стимулирующем мероприятии, мы сохраняем за собой право использовать предоставляемые Вами персональные данные для управления такими программами.
        .h3.extrabold.upper Сбор и обработка данных, не являющихся персональными
        p
          | Мы также собираем персональные данные, не являющиеся персональными − данные, не позволяющие прямо ассоциировать их с каким-либо определённым лицом. Мы можем собирать, использовать, передавать и раскрывать информацию, не являющуюся персональной, для любых целей. Ниже приведены примеры информации, не являющейся персональной, которую мы собираем, и как мы можем её использовать:
        p
          | Мы можем собирать персональные данные, такие как: сведения о роде занятий, языке, почтовом индексе, уникальном идентификаторе устройства, местоположении и временной зоне, в которой используется тот или иной продукт, для того чтобы лучше понимать поведение потребителей и улучшать наши продукты, услуги и коммуникации.
        p
          | Мы можем также собирать персональные данные/информацию о том, чем интересуется пользователь на нашем веб-сайте при использовании других наших продуктов и сервисов. Такие персональные данные/информация собирается и используется для того, чтобы помочь нам предоставлять более полезную информацию нашим покупателям и для понимания того, какие элементы нашего сайта, продуктов и услуг наиболее интересны. Для целей настоящей Политики Конфиденциальности совокупные данные рассматриваются как данные/информация, не являющиеся персональными.
        p
          | Если мы совмещаем информацию, не являющуюся персональной, с персональной информацией, такая совокупная информация будет рассматриваться как персональная информация, пока такая информация будет являться совмещённой.
        .h3.extrabold.upper Передача персональных данных
        p
          | Персональные данные Пользователей не передаются каким-либо третьим лицам, за исключением случаев, прямо предусмотренных настоящими Правилами.
        p
          | Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств
        p
          | Пользователь соглашается с тем, что Оператор вправе передавать персональные данные третьим лицам, в частности, курьерским службам, организациями почтовой связи, операторам электросвязи и т.д., исключительно для целей, указанных в разделе «Сбор персональных данных» настоящей Политики конфиденциальности
        p
          | При указании пользователя или при наличии согласия пользователя возможна передача персональных данных Пользователя третьим лицам-контрагентам Оператора с условием принятия такими контрагентами обязательств по обеспечению конфиденциальности полученной информации, в частности, при использовании приложений.
        p
          | Приложения, используемые Пользователями на Сайте, размещаются и поддерживаются третьими лицами (разработчиками), которые действуют независимо от Оператора и не выступают от имени или по поручению Оператора. Пользователи обязаны самостоятельно ознакомиться с правилами оказания услуг и политикой защиты персональных данных таких третьих лиц (разработчиков) до начала использования соответствующих приложений.
        p
          | Персональные данные Пользователя могут быть переданы по запросам уполномоченных органов государственной власти РФ только по основаниям и в порядке, установленным законодательством РФ.
        p
          | Оператор осуществляет блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.
        .h3.extrabold.upper Раскрытие информации третьим лицам
        p
          | В некоторых случаях Компания может предоставлять определенную персональную информацию и данные стратегическим партнерам, которые работают с Компанией для предоставления продуктов и услуг, или тем из них, которые помогают Компании реализовывать продукты и услуги потребителям. Мы предоставляем третьим лицам минимальный объем персональных данных, необходимый только для оказания требуемой услуги или проведения необходимой транзакции.
        p
          | Персональная информация будет предоставляться Компанией только в целях обеспечения потребителей продуктами и услугами, а также для улучшения этих продуктов и услуг, связанных с ними коммуникаций. Такая информация не будет предоставляться третьим лицам для их маркетинговых целей.
        p
          | Для использования Ваших персональных данных для любой иной цели мы запросим Ваше Согласие на обработку Ваших персональных данных
        .h3.extrabold.upper Поставщики услуг
        p Компания предоставляет персональные данные/информацию Компаниям, оказывающим такие услуги, как: обработка информации, предоставление кредитов, исполнение заказов потребителей, доставка, иные виды обслуживания потребителей, определение вашего интереса к нашим продуктам и услугам, проведение опросов, направленных на изучение наших потребителей или удовлетворения качеством сервиса. Такие компании обязуются защищать Вашу информацию независимо от страны своего расположения.

        .h3.extrabold.upper Иные лица
        p
          | Компании может быть необходимо — в соответствии с законом, судебным порядком, в судебном разбирательстве и/или на основании публичных запросов или запросов от государственных органов на территории или вне территории страны Вашего пребывания — раскрыть Ваши персональные данные. Мы также можем раскрывать персональные данные/информацию о Вас, если мы определим, что такое раскрытие необходимо или уместно в целях национальной безопасности, поддержания правопорядка или иных общественно важных случаях.
        p
          | Мы также можем раскрывать персональные данные/информацию о Вас, если мы определим, что раскрытие необходимо для приведения в исполнение наших положений и условий либо для целей защиты нашей деятельности и наших пользователей. Дополнительно в случае реорганизации, слияния или продажи мы можем передать любую или всю собираемую нами персональную информацию соответствующему третьему лицу.
        .h3.extrabold.upper Уничтожение персональных данных
        p
          | Персональные данные пользователя уничтожаются при:
          br
          | — удалении Оператором информации, размещаемой Пользователем, установленных договором купли продажи (оферта);
          br
          | — при отзыве субъектом персональных данных согласия на обработку персональных данных.
        .h3.extrabold.upper Идентификационные файлы (СOOKIES) и иные технологии
        p
          | Веб-сайт, интерактивные услуги и приложения, сообщения электронной почты и любые иные коммуникации от лица Компании могут использовать идентификационные файлы cookies и иные технологии, такие как: пиксельные ярлыки (pixel tags), веб-маяки (web beacons). Такие технологии помогают нам лучше понимать поведение пользователей, сообщают нам, какие разделы нашего сайта были посещены пользователями, и измеряют эффективность рекламы и сетевых поисков. Мы рассматриваем информацию, собираемую файлами cookies и иными технологиями как информацию, не являющуюся персональной.
        p
          | Нашей целью в таких случаях является обеспечение более удобного и персонального взаимодействия с Компанией. Например, зная Ваше имя, мы можем использовать его в наших коммуникациях. Зная, что кто-либо, используя Ваш компьютер или устройство, приобрел определённый продукт или воспользовался определенной услугой, мы можем обеспечивать более полное соответствие Вашим интересам рекламных сообщений и сообщений электронной почты. В конечном итоге все эти знания помогают нам предоставлять Вам обслуживание высшего качества.
        p
          | Если вы можете отключить cookies в настройках используемого Вами веб-браузера или мобильного устройства. Следует учесть, что некоторые функции веб-сайта могут стать недоступными после отключения cookies.
        p
          | Как и в случае большинства веб-сайтов, мы собираем некоторую информацию автоматически и храним её в файлах статистики. Такая информация включает в себя адрес Интернет-протокола (IP-адрес), тип и язык браузера, информацию о поставщике Интернет-услуг, страницы отсылки и выхода, сведения об операционной системе, отметку даты и времени, а также сведения о посещениях. Мы используем такую информацию для понимания и анализа тенденций, администрирования сайта, изучения поведения пользователей на сайте и сбора демографической информации о нашем основном контингенте пользователей в целом. Компания может использовать такую информацию в своих маркетинговых целях.
        p
          | В некоторых наших сообщениях электронной почты мы используем интерактивные ссылки на информацию, размещённую на сайте Компании. Когда пользователи проходят по таким ссылкам, прежде чем они попадают на страницу назначения на нашем веб-сайте, их запросы проходят отдельную регистрацию. Мы отслеживаем такие «проходные» данные, для того чтобы помочь нам определить интерес к отдельным темам и измерить эффективность наших коммуникаций с потребителями. Если Вы предпочитаете, чтобы Ваши обращения не отслеживались подобным образом, Вы не должны проходить по текстовым или графическим ссылкам в сообщениях электронной почты.
        p
          | Пиксельные ярлыки позволяют нам направлять сообщения электронной почты в формате, читаемом потребителями, и сообщают нам, были ли такие сообщения прочитаны. Мы можем использовать такую информацию для ограничения количества направляемых потребителям сообщений или прекращения их направления.
          |







block scripts
