extends extends/base.pug
append vars
  - var pageUrl = 'rest.html';
  - var pageTitle = '10 Видов отдыха';
block content
  include ../components/main-banner/template
  +mainBanner({
    items: [
      {
        bg: 'images/main-slide4.jpg',
        class: 'inner-section',
        title: 'Отдыха',
        classTitle: 'extrabold',
        subtitlePos: 'top',
        subtitle: '10 Видов',
        classSubtitle: 'upper fs-16',
        bottom: {
          ttl: 'Вступительный небольшой текст',
          text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
          btn: 'Узнать больше',
          classBtn: 'anchore-half-height',
        }
      }
    ]
  })
  .page-content.rest-container
    .page-head
      .container
        .page-title.text-center_xs
          h1 Выберите свой вид отдыха
        .filter-block
          a(href="#" data-filter="*").active Йога и спорт
          a(href="#" data-filter=".class1") Прогулки
          a(href="#" data-filter=".class2") Отдых на воде
          a(href="#" data-filter=".class2") Развлечения для детей
          a(href="#" data-filter=".class3") Релакс
          a(href="#" data-filter=".class3") Проживание и питание
    mixin restList(data)
      .rest-list.bg-light
        each itm in data
          .item
            .item-in
              .container
                  .row
                    .col-sm-6.col-xs-12
                      .desc
                        .title.h3.upper.extrabold(data-title=itm.ttl)!=itm.ttl
                        .desc!=itm.desc
              .pict
                +webp(itm.pict)
    +restList([
      {
        pict: 'images/rest-bg.jpg',
        ttl: 'Спа',
        desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin.'
      },
      {
        pict: 'images/rest-bg.jpg',
        ttl: 'Массаж',
        desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin.'
      },
      {
        pict: 'images/rest-bg.jpg',
        ttl: 'Спа',
        desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin.'
      },
      {
        pict: 'images/rest-bg.jpg',
        ttl: 'Массаж',
        desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin.'
      }
    ])


block scripts
