extends extends/base.pug
append vars
  - var pageUrl = 'search-page.html';
  - var pageTitle = 'Результаты поиска';
  - var classBody = 'page-white-container';

block content
  include ../components/main-banner/template
  +mainBanner({
    items: [
      {
        bg: 'images/private-police.jpg',
      }
    ]
  })
  .page-content.page-white-content
    .container
      .block-white
        mixin searchList(data)
          .search-page-list
            each itm in data.items
              .itm
                .box
                  .title.fs-24.fs-18_xs.upper.bold!=itm.ttl
                  .desc!=itm.desc
        +searchList({
          items: [
            {
              ttl: 'Заголовок',
              desc: 'Настоящие Положение о политике конфиденциальности (далее — Положение) является официальным документом ООО «АСТОНИА», расположенного по адресу: 105120, г. Москва, Костомаровский переулок, д. 3, стр. 12 (далее — «Компания»/ «Оператор»), и определяет порядок обработки и защиты информации о физических лицах (далее — Пользователи), пользующихся сервисами, информацией, услугами, программами (в т.ч. программами лояльности) и продуктами сайта, расположенного на доменном имени astonia.ru (далее — Сайт).'
            },
            {
              ttl: 'Заголовок',
              desc: 'Настоящие Положение о политике конфиденциальности (далее — Положение) является официальным документом ООО «АСТОНИА», расположенного по адресу: 105120, г. Москва, Костомаровский переулок, д. 3, стр. 12 (далее — «Компания»/ «Оператор»), и определяет порядок обработки и защиты информации о физических лицах (далее — Пользователи), пользующихся сервисами, информацией, услугами, программами (в т.ч. программами лояльности) и продуктами сайта, расположенного на доменном имени astonia.ru (далее — Сайт).'
            },
            {
              ttl: 'Заголовок',
              desc: 'Настоящие Положение о политике конфиденциальности (далее — Положение) является официальным документом ООО «АСТОНИА», расположенного по адресу: 105120, г. Москва, Костомаровский переулок, д. 3, стр. 12 (далее — «Компания»/ «Оператор»), и определяет порядок обработки и защиты информации о физических лицах (далее — Пользователи), пользующихся сервисами, информацией, услугами, программами (в т.ч. программами лояльности) и продуктами сайта, расположенного на доменном имени astonia.ru (далее — Сайт).'
            },
            {
              ttl: 'Заголовок',
              desc: 'Настоящие Положение о политике конфиденциальности (далее — Положение) является официальным документом ООО «АСТОНИА», расположенного по адресу: 105120, г. Москва, Костомаровский переулок, д. 3, стр. 12 (далее — «Компания»/ «Оператор»), и определяет порядок обработки и защиты информации о физических лицах (далее — Пользователи), пользующихся сервисами, информацией, услугами, программами (в т.ч. программами лояльности) и продуктами сайта, расположенного на доменном имени astonia.ru (далее — Сайт).'
            },
          ]
        })
      +pagination().mt-40



block scripts
