extends extends/base.pug
append vars
  - var pageUrl = 'team.html';
  - var pageTitle = 'Команда';
block content
  include ../components/main-banner/template
  +mainBanner({
    items: [
      {
        bg: 'images/main-slide3.jpg',
        class: 'inner-section team-section',
        title: 'Команда',
        classTitle: 'extrabold',
        bottom: {
          ttl: 'Вступительный небольшой текст',
          text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.',
          btn: 'Познакомьтесь с командой',
          classBtn: 'anchore-half-height',
        }
      }
    ]
  })
  include ../components/team-container/template




block scripts
