extends extends/base.pug
append vars
  - var pageUrl = 'vacancy.html';
  - var pageTitle = 'Разнарабочий';
block content
  include ../components/main-banner/template
  +mainBanner({
    items: [
      {
        bg: 'images/vacancy-bg.jpg',
      }
    ]
  })
  .page-content.bg-light.vacancy-page
    .container
      .vacancy-area.d-none_lg.d-none_md
        .ttl.upper.extrabold.fs-18.mb-20 Обязанности
        .desc
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. eu fugiat nulla pariatur.
        .ttl.upper.extrabold.fs-18.mt-40.mb-20 Условия
        ul.char
          li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .ttl.upper.extrabold.fs-18.mt-30.mb-20 Контактное лицо
        | Александр
        .phone.bold
          a(href="89011233344") 8 901 123 33 44
        .mail.bold
          a(href="mailto:rabota@site.ru") rabota@site.ru
      .vacancy-form
        .ttl.upper.extrabold.fs-18.mb-20.mt-70.mt-0_lg Оставьте заявку на вакансию
        form
          .row
            .col-md-6.col-xs-12
              +field({
                required: true,
                classInput: 'js-required',
                lbl: 'Имя'
              })
              +field({
                required: true,
                classInput: 'js-required',
                lbl: 'E-mail',
                type: 'email'
              })
              +field({
                required: true,
                classInput: 'js-required',
                lbl: 'Телефон'
              })
            .col-md-6.col-xs-12
              +field({
                required: true,
                classInput: 'js-required',
                type: 'textarea',
                lbl: 'Напишите сопроводительное письмо'
              })
              .group-wrap
                .form-group
                  .input-file-wrap
                    label(for='file').inp-lbl Прикрепите резюме
                    .input-file
                      .icon-wrap
                        +svg('upload')
                      input(type="file" name="" placeholder="")#file
                      .empty  файл не прикреплен
                      .choice
                button.btn.btn-brown.js-submit(type='submit') Отправить


      br
      br
      .back.light.upper
        a(href="#") << Назад к Вакансиям





block scripts
