extends extends/base.pug
append vars
  - var pageUrl = 'worker.html';
  - var pageTitle = 'Имя Фамилия';
block content
  include ../components/main-banner/template
  +mainBanner({
    items: [
      {
        bg: 'images/worker-bg.jpg',
      }
    ]
  })
  .page-content.bg-light.d-none_lg.d-none_md.worker-area
    .container
      .worker-area
        ul.mb-30
          li Тренер высшего уровня
          li Чемпион России по конному спорту
          li Опыт наездничества 30 лет

        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
      br
      br
      .back.light.upper
        a(href="#") << Назад к списку сотрудников





block scripts
